<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_gH-okArPEeuhJcSyBJ07Sw" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;in event podIsPlaced&#xA;in event isHot&#xA;in event cupIsPlaced&#xA;in event sugarFinishPoored&#xA;in event drinkFinishPoored&#xA;in event drinkPickedUp&#xA;&#xA;out event placePod&#xA;out event placeCup&#xA;out event Heating&#xA;out event pooringSugar&#xA;out event pooringDrink&#xA;" name="coffee">
    <regions xmi:id="_gIDhEwrPEeuhJcSyBJ07Sw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_gIFWQQrPEeuhJcSyBJ07Sw">
        <outgoingTransitions xmi:id="_6ioMIA-VEeuSodrqa4-Ntw" specification="" target="_2QovgArUEeuhJcSyBJ07Sw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2QovgArUEeuhJcSyBJ07Sw" name="prepareIngredient" incomingTransitions="_6ioMIA-VEeuSodrqa4-Ntw">
        <outgoingTransitions xmi:id="_8HZKgA-VEeuSodrqa4-Ntw" specification="" target="_yxTZoAvLEeu2UptfTYgoKA"/>
        <regions xmi:id="_2Qry0QrUEeuhJcSyBJ07Sw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_q_5vMArhEeuhJcSyBJ07Sw" specification="entry/raise placeCup" name="positionningCup" incomingTransitions="_wIZo8A-VEeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_WQTeUAvLEeu2UptfTYgoKA" specification="cupIsPlaced" target="_mX1t0A-VEeuSodrqa4-Ntw"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_mX1t0A-VEeuSodrqa4-Ntw" incomingTransitions="_WQTeUAvLEeu2UptfTYgoKA"/>
          <vertices xsi:type="sgraph:State" xmi:id="_gIFWTQrPEeuhJcSyBJ07Sw" specification="entry/raise placePod" name="getPodCoffee" incomingTransitions="_RGJgwArSEeuhJcSyBJ07Sw">
            <outgoingTransitions xmi:id="_wIZo8A-VEeuSodrqa4-Ntw" specification="podIsPlaced" target="_q_5vMArhEeuhJcSyBJ07Sw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_QCxYMArSEeuhJcSyBJ07Sw">
            <outgoingTransitions xmi:id="_RGJgwArSEeuhJcSyBJ07Sw" target="_gIFWTQrPEeuhJcSyBJ07Sw"/>
          </vertices>
        </regions>
        <regions xmi:id="_2Qry0grUEeuhJcSyBJ07Sw" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_1qlY8ArQEeuhJcSyBJ07Sw" specification="entry/raise Heating" name="beginHeating" incomingTransitions="_PGbrwArSEeuhJcSyBJ07Sw">
            <outgoingTransitions xmi:id="_gq-RoA-VEeuSodrqa4-Ntw" specification="isHot" target="_f5IlAA-VEeuSodrqa4-Ntw"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_f5IlAA-VEeuSodrqa4-Ntw" incomingTransitions="_gq-RoA-VEeuSodrqa4-Ntw"/>
          <vertices xsi:type="sgraph:Entry" xmi:id="_OaE8EArSEeuhJcSyBJ07Sw">
            <outgoingTransitions xmi:id="_PGbrwArSEeuhJcSyBJ07Sw" target="_1qlY8ArQEeuhJcSyBJ07Sw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yxTZoAvLEeu2UptfTYgoKA" name="poorIngredient" incomingTransitions="_8HZKgA-VEeuSodrqa4-Ntw">
        <outgoingTransitions xmi:id="_ATICwA-kEeuSodrqa4-Ntw" specification="" target="_XR4aoAvMEeu2UptfTYgoKA"/>
        <regions xmi:id="_yxTZowvLEeu2UptfTYgoKA" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_24gfkAvLEeu2UptfTYgoKA" specification="entry/raise pooringSugar" name="poorSugar" incomingTransitions="_QmmZoA-WEeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_h9dzkAvMEeu2UptfTYgoKA" specification="sugarFinishPoored" target="_zU4qsA-jEeuSodrqa4-Ntw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_P4fWcA-WEeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_QmmZoA-WEeuSodrqa4-Ntw" specification="" target="_24gfkAvLEeu2UptfTYgoKA"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_zU4qsA-jEeuSodrqa4-Ntw" incomingTransitions="_h9dzkAvMEeu2UptfTYgoKA"/>
        </regions>
        <regions xmi:id="_yxTZpAvLEeu2UptfTYgoKA" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_3vyF0AvLEeu2UptfTYgoKA" specification="entry/raise pooringDrink" name="poorDrink" incomingTransitions="_SRyJEA-WEeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_2m3Y0A-jEeuSodrqa4-Ntw" specification="drinkFinishPoored" target="_4iuokA-jEeuSodrqa4-Ntw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Rj5IUA-WEeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_SRyJEA-WEeuSodrqa4-Ntw" specification="" target="_3vyF0AvLEeu2UptfTYgoKA"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_4iuokA-jEeuSodrqa4-Ntw" incomingTransitions="_2m3Y0A-jEeuSodrqa4-Ntw"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XR4aoAvMEeu2UptfTYgoKA" name="DrinkDistribute" incomingTransitions="_ATICwA-kEeuSodrqa4-Ntw">
        <outgoingTransitions xmi:id="_BmfPwAvNEeu2UptfTYgoKA" specification="drinkPickedUp" target="_AxzDcAvNEeu2UptfTYgoKA"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_AxzDcAvNEeu2UptfTYgoKA" incomingTransitions="_BmfPwAvNEeu2UptfTYgoKA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_gIDhEArPEeuhJcSyBJ07Sw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_gH-okArPEeuhJcSyBJ07Sw" measurementUnit="Pixel">
    <children xmi:id="_gIDhFArPEeuhJcSyBJ07Sw" type="Region" element="_gIDhEwrPEeuhJcSyBJ07Sw">
      <children xsi:type="notation:DecorationNode" xmi:id="_gIDhFwrPEeuhJcSyBJ07Sw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gIDhGArPEeuhJcSyBJ07Sw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gIDhGQrPEeuhJcSyBJ07Sw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_gIDhGgrPEeuhJcSyBJ07Sw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_gIFWQgrPEeuhJcSyBJ07Sw" type="Entry" element="_gIFWQQrPEeuhJcSyBJ07Sw">
          <children xmi:id="_gIFWRgrPEeuhJcSyBJ07Sw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_gIFWSQrPEeuhJcSyBJ07Sw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_gIFWSgrPEeuhJcSyBJ07Sw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_gIFWSwrPEeuhJcSyBJ07Sw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_gIFWRwrPEeuhJcSyBJ07Sw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gIFWSArPEeuhJcSyBJ07Sw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_gIFWQwrPEeuhJcSyBJ07Sw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_gIFWRArPEeuhJcSyBJ07Sw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gIFWTArPEeuhJcSyBJ07Sw" x="155" y="26" width="15" height="15"/>
        </children>
        <children xmi:id="_2Qry0wrUEeuhJcSyBJ07Sw" type="State" element="_2QovgArUEeuhJcSyBJ07Sw">
          <children xsi:type="notation:DecorationNode" xmi:id="_2QtoAArUEeuhJcSyBJ07Sw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2QtoAQrUEeuhJcSyBJ07Sw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2QtoAgrUEeuhJcSyBJ07Sw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2QtoAwrUEeuhJcSyBJ07Sw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2QtoBArUEeuhJcSyBJ07Sw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2QtoBQrUEeuhJcSyBJ07Sw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2QtoBgrUEeuhJcSyBJ07Sw" type="StateFigureCompartment">
            <children xmi:id="_qJsO0A-VEeuSodrqa4-Ntw" type="Region" element="_2Qry0QrUEeuhJcSyBJ07Sw">
              <children xsi:type="notation:DecorationNode" xmi:id="_qJsO0Q-VEeuSodrqa4-Ntw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_qJsO0g-VEeuSodrqa4-Ntw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_qJsO0w-VEeuSodrqa4-Ntw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_qJsO1A-VEeuSodrqa4-Ntw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_qJsO1Q-VEeuSodrqa4-Ntw" type="State" element="_q_5vMArhEeuhJcSyBJ07Sw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qJsO1g-VEeuSodrqa4-Ntw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qJsO1w-VEeuSodrqa4-Ntw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qJsO2A-VEeuSodrqa4-Ntw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qJsO2Q-VEeuSodrqa4-Ntw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qJsO2g-VEeuSodrqa4-Ntw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qJsO2w-VEeuSodrqa4-Ntw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qJsO3A-VEeuSodrqa4-Ntw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qJsO3Q-VEeuSodrqa4-Ntw" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qJsO3g-VEeuSodrqa4-Ntw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qJsO3w-VEeuSodrqa4-Ntw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qJsO4A-VEeuSodrqa4-Ntw" x="57" y="260" width="159" height="58"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_qJsO4Q-VEeuSodrqa4-Ntw" type="FinalState" element="_mX1t0A-VEeuSodrqa4-Ntw" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qJsO4g-VEeuSodrqa4-Ntw" x="130" y="443" width="15" height="15"/>
                </children>
                <children xmi:id="_gIFWUArPEeuhJcSyBJ07Sw" type="State" element="_gIFWTQrPEeuhJcSyBJ07Sw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_gIHygArPEeuhJcSyBJ07Sw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gIHygQrPEeuhJcSyBJ07Sw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_gIHyggrPEeuhJcSyBJ07Sw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gIHygwrPEeuhJcSyBJ07Sw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_gIHyhArPEeuhJcSyBJ07Sw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gIHyhQrPEeuhJcSyBJ07Sw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gIHyhgrPEeuhJcSyBJ07Sw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gIFWUQrPEeuhJcSyBJ07Sw" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_gIFWUgrPEeuhJcSyBJ07Sw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gIHyhwrPEeuhJcSyBJ07Sw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gIHyiArPEeuhJcSyBJ07Sw" x="64" y="53" width="170" height="58"/>
                </children>
                <children xmi:id="_QCz0cArSEeuhJcSyBJ07Sw" type="Entry" element="_QCxYMArSEeuhJcSyBJ07Sw">
                  <children xmi:id="_QCz0dArSEeuhJcSyBJ07Sw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_QCz0dwrSEeuhJcSyBJ07Sw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_QCz0eArSEeuhJcSyBJ07Sw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_QCz0eQrSEeuhJcSyBJ07Sw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_QCz0dQrSEeuhJcSyBJ07Sw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QCz0dgrSEeuhJcSyBJ07Sw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_QCz0cQrSEeuhJcSyBJ07Sw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_QCz0cgrSEeuhJcSyBJ07Sw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QCz0cwrSEeuhJcSyBJ07Sw" x="111" y="-9"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qJsO4w-VEeuSodrqa4-Ntw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_qJsO5A-VEeuSodrqa4-Ntw" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qJsO5Q-VEeuSodrqa4-Ntw"/>
            </children>
            <children xmi:id="_X5cogBGAEeu8cdcqU9z7Ag" type="Region" element="_2Qry0grUEeuhJcSyBJ07Sw">
              <children xsi:type="notation:DecorationNode" xmi:id="_X5cogRGAEeu8cdcqU9z7Ag" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_X5coghGAEeu8cdcqU9z7Ag"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_X5cogxGAEeu8cdcqU9z7Ag"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_X5cohBGAEeu8cdcqU9z7Ag" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_X5cohRGAEeu8cdcqU9z7Ag" type="State" element="_1qlY8ArQEeuhJcSyBJ07Sw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_X5cohhGAEeu8cdcqU9z7Ag" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_X5cohxGAEeu8cdcqU9z7Ag"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_X5coiBGAEeu8cdcqU9z7Ag"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_X5coiRGAEeu8cdcqU9z7Ag" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_X5coihGAEeu8cdcqU9z7Ag" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X5coixGAEeu8cdcqU9z7Ag"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_X5cojBGAEeu8cdcqU9z7Ag" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_X5cojRGAEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_X5cojhGAEeu8cdcqU9z7Ag"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_X5cojxGAEeu8cdcqU9z7Ag" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X5cokBGAEeu8cdcqU9z7Ag" x="58" y="107" width="150" height="61"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_X5cokRGAEeu8cdcqU9z7Ag" type="FinalState" element="_f5IlAA-VEeuSodrqa4-Ntw" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X5cokhGAEeu8cdcqU9z7Ag" x="79" y="455" width="15" height="15"/>
                </children>
                <children xmi:id="_X5cokxGAEeu8cdcqU9z7Ag" type="Entry" element="_OaE8EArSEeuhJcSyBJ07Sw">
                  <children xmi:id="_X5colBGAEeu8cdcqU9z7Ag" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_X5colRGAEeu8cdcqU9z7Ag" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_X5colhGAEeu8cdcqU9z7Ag"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_X5colxGAEeu8cdcqU9z7Ag"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_X5comBGAEeu8cdcqU9z7Ag" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X5comRGAEeu8cdcqU9z7Ag"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_X5comhGAEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_X5comxGAEeu8cdcqU9z7Ag" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X5conBGAEeu8cdcqU9z7Ag" x="93" y="2" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X5conRGAEeu8cdcqU9z7Ag"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_X5conhGAEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X5conxGAEeu8cdcqU9z7Ag"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2Qry1ArUEeuhJcSyBJ07Sw" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2Qry1QrUEeuhJcSyBJ07Sw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2QtoBwrUEeuhJcSyBJ07Sw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2Qry1grUEeuhJcSyBJ07Sw" x="3" y="92" width="516" height="572"/>
        </children>
        <children xmi:id="_yxUAsAvLEeu2UptfTYgoKA" type="State" element="_yxTZoAvLEeu2UptfTYgoKA">
          <children xsi:type="notation:DecorationNode" xmi:id="_yxUAtAvLEeu2UptfTYgoKA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yxUAtQvLEeu2UptfTYgoKA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yxUAtgvLEeu2UptfTYgoKA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yxUAtwvLEeu2UptfTYgoKA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yxUAuAvLEeu2UptfTYgoKA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yxUAuQvLEeu2UptfTYgoKA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yxUAugvLEeu2UptfTYgoKA" type="StateFigureCompartment">
            <children xmi:id="_L1vJkBGBEeu8cdcqU9z7Ag" type="Region" element="_yxTZowvLEeu2UptfTYgoKA">
              <children xsi:type="notation:DecorationNode" xmi:id="_L1vJkRGBEeu8cdcqU9z7Ag" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_L1vJkhGBEeu8cdcqU9z7Ag"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_L1vJkxGBEeu8cdcqU9z7Ag"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_L1vJlBGBEeu8cdcqU9z7Ag" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_L1vJlRGBEeu8cdcqU9z7Ag" type="State" element="_24gfkAvLEeu2UptfTYgoKA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_L1vJlhGBEeu8cdcqU9z7Ag" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_L1vJlxGBEeu8cdcqU9z7Ag"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_L1vJmBGBEeu8cdcqU9z7Ag"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_L1vJmRGBEeu8cdcqU9z7Ag" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_L1vJmhGBEeu8cdcqU9z7Ag" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1vJmxGBEeu8cdcqU9z7Ag"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_L1vJnBGBEeu8cdcqU9z7Ag" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_L1vJnRGBEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_L1vJnhGBEeu8cdcqU9z7Ag"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L1vJnxGBEeu8cdcqU9z7Ag" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1vJoBGBEeu8cdcqU9z7Ag" x="36" y="36" width="186" height="61"/>
                </children>
                <children xmi:id="_L1vJoRGBEeu8cdcqU9z7Ag" type="Entry" element="_P4fWcA-WEeuSodrqa4-Ntw">
                  <children xmi:id="_L1vJohGBEeu8cdcqU9z7Ag" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_L1vJoxGBEeu8cdcqU9z7Ag" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_L1vJpBGBEeu8cdcqU9z7Ag"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_L1vJpRGBEeu8cdcqU9z7Ag"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_L1vJphGBEeu8cdcqU9z7Ag" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1vJpxGBEeu8cdcqU9z7Ag"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_L1vJqBGBEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_L1vJqRGBEeu8cdcqU9z7Ag" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1vJqhGBEeu8cdcqU9z7Ag" x="108"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_L1vJqxGBEeu8cdcqU9z7Ag" type="FinalState" element="_zU4qsA-jEeuSodrqa4-Ntw" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1vJrBGBEeu8cdcqU9z7Ag" x="60" y="228" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1vJrRGBEeu8cdcqU9z7Ag"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_L1vJrhGBEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1vJrxGBEeu8cdcqU9z7Ag"/>
            </children>
            <children xmi:id="_HJ00EBGBEeu8cdcqU9z7Ag" type="Region" element="_yxTZpAvLEeu2UptfTYgoKA">
              <children xsi:type="notation:DecorationNode" xmi:id="_HJ00ERGBEeu8cdcqU9z7Ag" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_HJ00EhGBEeu8cdcqU9z7Ag"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_HJ00ExGBEeu8cdcqU9z7Ag"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_HJ00FBGBEeu8cdcqU9z7Ag" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_HJ00FRGBEeu8cdcqU9z7Ag" type="State" element="_3vyF0AvLEeu2UptfTYgoKA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_HJ00FhGBEeu8cdcqU9z7Ag" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_HJ00FxGBEeu8cdcqU9z7Ag"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_HJ00GBGBEeu8cdcqU9z7Ag"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_HJ1bIBGBEeu8cdcqU9z7Ag" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_HJ1bIRGBEeu8cdcqU9z7Ag" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HJ1bIhGBEeu8cdcqU9z7Ag"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_HJ1bIxGBEeu8cdcqU9z7Ag" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_HJ1bJBGBEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_HJ1bJRGBEeu8cdcqU9z7Ag"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_HJ1bJhGBEeu8cdcqU9z7Ag" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HJ1bJxGBEeu8cdcqU9z7Ag" x="85" y="31" width="181" height="54"/>
                </children>
                <children xmi:id="_HJ1bKBGBEeu8cdcqU9z7Ag" type="Entry" element="_Rj5IUA-WEeuSodrqa4-Ntw">
                  <children xmi:id="_HJ1bKRGBEeu8cdcqU9z7Ag" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_HJ1bKhGBEeu8cdcqU9z7Ag" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_HJ1bKxGBEeu8cdcqU9z7Ag"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_HJ1bLBGBEeu8cdcqU9z7Ag"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_HJ1bLRGBEeu8cdcqU9z7Ag" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HJ1bLhGBEeu8cdcqU9z7Ag"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_HJ1bLxGBEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_HJ1bMBGBEeu8cdcqU9z7Ag" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HJ1bMRGBEeu8cdcqU9z7Ag" x="81" y="-4"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_HJ1bMhGBEeu8cdcqU9z7Ag" type="FinalState" element="_4iuokA-jEeuSodrqa4-Ntw" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HJ1bMxGBEeu8cdcqU9z7Ag" x="95" y="156" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HJ1bNBGBEeu8cdcqU9z7Ag"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_HJ1bNRGBEeu8cdcqU9z7Ag" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HJ1bNhGBEeu8cdcqU9z7Ag"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yxUAsQvLEeu2UptfTYgoKA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yxUAsgvLEeu2UptfTYgoKA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yxUAuwvLEeu2UptfTYgoKA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yxUAswvLEeu2UptfTYgoKA" x="19" y="901" width="562" height="350"/>
        </children>
        <children xmi:id="_XR6P0AvMEeu2UptfTYgoKA" type="State" element="_XR4aoAvMEeu2UptfTYgoKA">
          <children xsi:type="notation:DecorationNode" xmi:id="_XR6P1AvMEeu2UptfTYgoKA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XR6P1QvMEeu2UptfTYgoKA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XR6P1gvMEeu2UptfTYgoKA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XR6P1wvMEeu2UptfTYgoKA" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_XR624AvMEeu2UptfTYgoKA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XR624QvMEeu2UptfTYgoKA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XR624gvMEeu2UptfTYgoKA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XR6P0QvMEeu2UptfTYgoKA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XR6P0gvMEeu2UptfTYgoKA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XR624wvMEeu2UptfTYgoKA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XR6P0wvMEeu2UptfTYgoKA" x="171" y="1334" width="114" height="54"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_AxzDcQvNEeu2UptfTYgoKA" type="FinalState" element="_AxzDcAvNEeu2UptfTYgoKA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AxzDcgvNEeu2UptfTYgoKA" x="210" y="1502" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gIDhGwrPEeuhJcSyBJ07Sw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_gIDhFQrPEeuhJcSyBJ07Sw" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gIFWQArPEeuhJcSyBJ07Sw" x="145" width="631" height="1596"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_gILc5ArPEeuhJcSyBJ07Sw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_gILc5grPEeuhJcSyBJ07Sw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gILc5wrPEeuhJcSyBJ07Sw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gILc6ArPEeuhJcSyBJ07Sw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_gILc6QrPEeuhJcSyBJ07Sw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gILc6grPEeuhJcSyBJ07Sw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gILc6wrPEeuhJcSyBJ07Sw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gIDhEQrPEeuhJcSyBJ07Sw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_gIDhEgrPEeuhJcSyBJ07Sw"/>
    <edges xmi:id="_PGdg8ArSEeuhJcSyBJ07Sw" type="Transition" element="_PGbrwArSEeuhJcSyBJ07Sw" source="_X5cokxGAEeu8cdcqU9z7Ag" target="_X5cohRGAEeu8cdcqU9z7Ag">
      <children xsi:type="notation:DecorationNode" xmi:id="_PGdg9ArSEeuhJcSyBJ07Sw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PGdg9QrSEeuhJcSyBJ07Sw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PGdg9grSEeuhJcSyBJ07Sw" x="-61" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PGdg8QrSEeuhJcSyBJ07Sw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PGdg8wrSEeuhJcSyBJ07Sw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PGdg8grSEeuhJcSyBJ07Sw" points="[6, 3, -27, -125]$[6, 98, -27, -30]"/>
    </edges>
    <edges xmi:id="_RGKu4ArSEeuhJcSyBJ07Sw" type="Transition" element="_RGJgwArSEeuhJcSyBJ07Sw" source="_QCz0cArSEeuhJcSyBJ07Sw" target="_gIFWUArPEeuhJcSyBJ07Sw">
      <children xsi:type="notation:DecorationNode" xmi:id="_RGKu5ArSEeuhJcSyBJ07Sw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RGKu5QrSEeuhJcSyBJ07Sw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RGKu5grSEeuhJcSyBJ07Sw" x="-12" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RGKu4QrSEeuhJcSyBJ07Sw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RGKu4wrSEeuhJcSyBJ07Sw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RGKu4grSEeuhJcSyBJ07Sw" points="[-1, 6, -47, -55]$[-1, 55, -47, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RGL9AArSEeuhJcSyBJ07Sw" id="(0.5882352941176471,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_WQUFYAvLEeu2UptfTYgoKA" type="Transition" element="_WQTeUAvLEeu2UptfTYgoKA" source="_qJsO1Q-VEeuSodrqa4-Ntw" target="_qJsO4Q-VEeuSodrqa4-Ntw">
      <children xsi:type="notation:DecorationNode" xmi:id="_WQUFZAvLEeu2UptfTYgoKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WQUFZQvLEeu2UptfTYgoKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WQUFZgvLEeu2UptfTYgoKA" x="-17" y="55"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WQUFYQvLEeu2UptfTYgoKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WQUFYwvLEeu2UptfTYgoKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WQUFYgvLEeu2UptfTYgoKA" points="[-20, 11, 2, -132]$[-20, 136, 2, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WQVTgAvLEeu2UptfTYgoKA" id="(0.6470588235294118,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_h9dzkQvMEeu2UptfTYgoKA" type="Transition" element="_h9dzkAvMEeu2UptfTYgoKA" source="_L1vJlRGBEeu8cdcqU9z7Ag" target="_L1vJqxGBEeu8cdcqU9z7Ag">
      <children xsi:type="notation:DecorationNode" xmi:id="_h9eaoQvMEeu2UptfTYgoKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_h9eaogvMEeu2UptfTYgoKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_h9eaowvMEeu2UptfTYgoKA" x="1" y="-85"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_h9dzkgvMEeu2UptfTYgoKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_h9eaoAvMEeu2UptfTYgoKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_h9dzkwvMEeu2UptfTYgoKA" points="[-36, 12, 3, -138]$[-36, 143, 3, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h9fBsAvMEeu2UptfTYgoKA" id="(0.3780487804878049,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_2m3Y4w-jEeuSodrqa4-Ntw" type="Transition" element="_2m3Y0A-jEeuSodrqa4-Ntw" source="_HJ00FRGBEeu8cdcqU9z7Ag" target="_HJ1bMhGBEeu8cdcqU9z7Ag">
      <children xsi:type="notation:DecorationNode" xmi:id="_2m3Y5A-jEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2m3Y5Q-jEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2m3Y5g-jEeuSodrqa4-Ntw" x="-3" y="-92"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2m3Y5w-jEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2m3Y6A-jEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2m3Y6Q-jEeuSodrqa4-Ntw" points="[8, 9, -2, -78]$[8, 80, -2, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2m3Y6g-jEeuSodrqa4-Ntw" id="(0.04,0.8448275862068966)"/>
    </edges>
    <edges xmi:id="_Bmf20AvNEeu2UptfTYgoKA" type="Transition" element="_BmfPwAvNEeu2UptfTYgoKA" source="_XR6P0AvMEeu2UptfTYgoKA" target="_AxzDcQvNEeu2UptfTYgoKA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Bmf21AvNEeu2UptfTYgoKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Bmf21QvNEeu2UptfTYgoKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Bmf21gvNEeu2UptfTYgoKA" x="-7" y="-69"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Bmf20QvNEeu2UptfTYgoKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Bmf20wvNEeu2UptfTYgoKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Bmf20gvNEeu2UptfTYgoKA" points="[10, 2, 0, -121]$[10, 116, 0, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BmhE8AvNEeu2UptfTYgoKA" id="(0.3157894736842105,0.9629629629629629)"/>
    </edges>
    <edges xmi:id="_grAt4A-VEeuSodrqa4-Ntw" type="Transition" element="_gq-RoA-VEeuSodrqa4-Ntw" source="_X5cohRGAEeu8cdcqU9z7Ag" target="_X5cokRGAEeu8cdcqU9z7Ag">
      <children xsi:type="notation:DecorationNode" xmi:id="_grAt5A-VEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_grAt5Q-VEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_grAt5g-VEeuSodrqa4-Ntw" x="15" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_grAt4Q-VEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_grAt4w-VEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_grAt4g-VEeuSodrqa4-Ntw" points="[-35, 61, 2, -294]$[-35, 348, 2, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_grDKIA-VEeuSodrqa4-Ntw" id="(0.4338235294117647,0.0)"/>
    </edges>
    <edges xmi:id="_wIehcA-VEeuSodrqa4-Ntw" type="Transition" element="_wIZo8A-VEeuSodrqa4-Ntw" source="_gIFWUArPEeuhJcSyBJ07Sw" target="_qJsO1Q-VEeuSodrqa4-Ntw">
      <children xsi:type="notation:DecorationNode" xmi:id="_wIehdA-VEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wIehdQ-VEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wIehdg-VEeuSodrqa4-Ntw" x="-8" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wIehcQ-VEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wIehcw-VEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wIehcg-VEeuSodrqa4-Ntw" points="[-36, 15, -1, -182]$[-36, 164, -1, -33]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wIjZ8A-VEeuSodrqa4-Ntw" id="(0.39215686274509803,0.7547169811320755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wIjZ8Q-VEeuSodrqa4-Ntw" id="(0.24369747899159663,0.5849056603773585)"/>
    </edges>
    <edges xmi:id="_6ioMIQ-VEeuSodrqa4-Ntw" type="Transition" element="_6ioMIA-VEeuSodrqa4-Ntw" source="_gIFWQgrPEeuhJcSyBJ07Sw" target="_2Qry0wrUEeuhJcSyBJ07Sw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6ioMJQ-VEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6ioMJg-VEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6ioMJw-VEeuSodrqa4-Ntw" x="-1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6ioMIg-VEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6ioMJA-VEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6ioMIw-VEeuSodrqa4-Ntw" points="[3, 9, -23, -65]$[3, 62, -23, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6iqoYA-VEeuSodrqa4-Ntw" id="(0.13333333333333333,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6iqoYQ-VEeuSodrqa4-Ntw" id="(0.3488888888888889,0.02097902097902098)"/>
    </edges>
    <edges xmi:id="_8HZKgQ-VEeuSodrqa4-Ntw" type="Transition" element="_8HZKgA-VEeuSodrqa4-Ntw" source="_2Qry0wrUEeuhJcSyBJ07Sw" target="_yxUAsAvLEeu2UptfTYgoKA">
      <children xsi:type="notation:DecorationNode" xmi:id="_8HZKhQ-VEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8HZKhg-VEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8HZKhw-VEeuSodrqa4-Ntw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8HZKgg-VEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8HZKhA-VEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8HZKgw-VEeuSodrqa4-Ntw" points="[180, 572, -32, -256]$[180, 809, -32, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8HbmwA-VEeuSodrqa4-Ntw" id="(0.13555555555555557,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8HbmwQ-VEeuSodrqa4-Ntw" id="(0.4731610337972167,0.05588235294117647)"/>
    </edges>
    <edges xmi:id="_QmmZoQ-WEeuSodrqa4-Ntw" type="Transition" element="_QmmZoA-WEeuSodrqa4-Ntw" source="_L1vJoRGBEeu8cdcqU9z7Ag" target="_L1vJlRGBEeu8cdcqU9z7Ag">
      <children xsi:type="notation:DecorationNode" xmi:id="_Qmo14A-WEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Qmo14Q-WEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Qmo14g-WEeuSodrqa4-Ntw" x="-13" y="-2"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QmmZog-WEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QmmZpA-WEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QmmZow-WEeuSodrqa4-Ntw" points="[0, 10, 28, -51]$[-20, 10, 8, -51]$[-20, 35, 8, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QmrSIA-WEeuSodrqa4-Ntw" id="(0.06666666666666667,0.06666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QmrSIQ-WEeuSodrqa4-Ntw" id="(0.24390243902439024,0.4339622641509434)"/>
    </edges>
    <edges xmi:id="_SRyJEQ-WEeuSodrqa4-Ntw" type="Transition" element="_SRyJEA-WEeuSodrqa4-Ntw" source="_HJ1bKBGBEeu8cdcqU9z7Ag" target="_HJ00FRGBEeu8cdcqU9z7Ag">
      <children xsi:type="notation:DecorationNode" xmi:id="_SRyJFQ-WEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SRyJFg-WEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SRyJFw-WEeuSodrqa4-Ntw" x="-3" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SRyJEg-WEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SRyJFA-WEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SRyJEw-WEeuSodrqa4-Ntw" points="[4, 5, -83, -50]$[4, 18, -83, -37]$[15, 18, -72, -37]$[15, 28, -72, -27]"/>
    </edges>
    <edges xmi:id="_ATJ38A-kEeuSodrqa4-Ntw" type="Transition" element="_ATICwA-kEeuSodrqa4-Ntw" source="_yxUAsAvLEeu2UptfTYgoKA" target="_XR6P0AvMEeu2UptfTYgoKA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ATJ39A-kEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ATJ39Q-kEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ATJ39g-kEeuSodrqa4-Ntw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ATJ38Q-kEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ATJ38w-kEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ATJ38g-kEeuSodrqa4-Ntw" points="[101, 350, -4, -95]$[101, 433, -4, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ATMUMA-kEeuSodrqa4-Ntw" id="(0.12127236580516898,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ATMUMQ-kEeuSodrqa4-Ntw" id="(0.18421052631578946,0.2222222222222222)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
