<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_ioWw4A-AEeuqGMS0Lu6UUA" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;in event isHot&#xA;in event sugarFinishPoored&#xA;in event drinkFinishPoored&#xA;in event drinkPickedUp&#xA;&#xA;&#xA;out event grindingCoffee&#xA;out event groundingCoffee&#xA;out event placeCup&#xA;out event Heating&#xA;out event pooringSugar&#xA;out event pooringDrink&#xA;" name="expresso">
    <regions xmi:id="_ioessw-AEeuqGMS0Lu6UUA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_G3T2cA-BEeuqGMS0Lu6UUA">
        <outgoingTransitions xmi:id="_G3T2cQ-BEeuqGMS0Lu6UUA" target="_G3T2cg-BEeuqGMS0Lu6UUA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_G3T2cg-BEeuqGMS0Lu6UUA" name="PlacingPod" incomingTransitions="_G3T2cQ-BEeuqGMS0Lu6UUA">
        <regions xmi:id="_xBEe8B__Eeu3H-aGHCLSKQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_xBKlpB__Eeu3H-aGHCLSKQ" specification="entry/raise grindingCoffee" name="grindcoffee" incomingTransitions="_xBJ-ix__Eeu3H-aGHCLSKQ">
            <outgoingTransitions xmi:id="_xBLMqx__Eeu3H-aGHCLSKQ" specification="after 3s" target="_xBEe_R__Eeu3H-aGHCLSKQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_xBJ-ih__Eeu3H-aGHCLSKQ">
            <outgoingTransitions xmi:id="_xBJ-ix__Eeu3H-aGHCLSKQ" target="_xBKlpB__Eeu3H-aGHCLSKQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_xBEe_R__Eeu3H-aGHCLSKQ" name="Ingredient" incomingTransitions="_xBLMqx__Eeu3H-aGHCLSKQ">
            <regions xmi:id="_xBHiSx__Eeu3H-aGHCLSKQ" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_xBIwYB__Eeu3H-aGHCLSKQ" specification="entry/raise placeCup" name="positionningCup" incomingTransitions="_xBIJVh__Eeu3H-aGHCLSKQ">
                <outgoingTransitions xmi:id="_xBIwbB__Eeu3H-aGHCLSKQ" specification="after 2s" target="_Yi5lQCASEeu3H-aGHCLSKQ"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_xBIJVR__Eeu3H-aGHCLSKQ">
                <outgoingTransitions xmi:id="_xBIJVh__Eeu3H-aGHCLSKQ" specification="" target="_xBIwYB__Eeu3H-aGHCLSKQ"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_Yi5lQCASEeu3H-aGHCLSKQ" name="cupPlaced" incomingTransitions="_xBIwbB__Eeu3H-aGHCLSKQ">
                <outgoingTransitions xmi:id="_i9YnICASEeu3H-aGHCLSKQ" specification="always" target="_m_cHUCASEeu3H-aGHCLSKQ"/>
              </vertices>
            </regions>
            <regions xmi:id="_xBFGCB__Eeu3H-aGHCLSKQ" name="r2">
              <vertices xsi:type="sgraph:State" xmi:id="_xBGUKR__Eeu3H-aGHCLSKQ" specification="entry/raise groundingCoffee" name="groundCoffee" incomingTransitions="_xBFtFB__Eeu3H-aGHCLSKQ">
                <outgoingTransitions xmi:id="_xBG7Nh__Eeu3H-aGHCLSKQ" specification="after 1s" target="_bYM-cCASEeu3H-aGHCLSKQ"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_xBFtEx__Eeu3H-aGHCLSKQ">
                <outgoingTransitions xmi:id="_xBFtFB__Eeu3H-aGHCLSKQ" specification="" target="_xBGUKR__Eeu3H-aGHCLSKQ"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_bYM-cCASEeu3H-aGHCLSKQ" name="coffeeGround" incomingTransitions="_xBG7Nh__Eeu3H-aGHCLSKQ">
                <outgoingTransitions xmi:id="_hXx7QCASEeu3H-aGHCLSKQ" specification="every 100 ms" target="_m_cHUCASEeu3H-aGHCLSKQ"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Synchronization" xmi:id="_m_cHUCASEeu3H-aGHCLSKQ" incomingTransitions="_hXx7QCASEeu3H-aGHCLSKQ _i9YnICASEeu3H-aGHCLSKQ">
            <outgoingTransitions xmi:id="_14MrUCASEeu3H-aGHCLSKQ" specification="always" target="_emG_gB__Eeu3H-aGHCLSKQ"/>
          </vertices>
        </regions>
        <regions xmi:id="_G3Udeg-BEeuqGMS0Lu6UUA" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_G3Udew-BEeuqGMS0Lu6UUA" name="beginHeating" incomingTransitions="_G3Udfw-BEeuqGMS0Lu6UUA">
            <outgoingTransitions xmi:id="_s2WyAB__Eeu3H-aGHCLSKQ" specification="isHot" target="_maDXwCAREeu3H-aGHCLSKQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_G3Udfg-BEeuqGMS0Lu6UUA">
            <outgoingTransitions xmi:id="_G3Udfw-BEeuqGMS0Lu6UUA" target="_G3Udew-BEeuqGMS0Lu6UUA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_maDXwCAREeu3H-aGHCLSKQ" name="IsHot" incomingTransitions="_s2WyAB__Eeu3H-aGHCLSKQ">
            <outgoingTransitions xmi:id="_yJrnoCAREeu3H-aGHCLSKQ" specification="every 100ms" target="_emG_gB__Eeu3H-aGHCLSKQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_G3WSoA-BEeuqGMS0Lu6UUA" name="poorIngredient" incomingTransitions="_EB31IA-TEeuSodrqa4-Ntw">
        <regions xmi:id="_G3WSow-BEeuqGMS0Lu6UUA" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_G3WSpA-BEeuqGMS0Lu6UUA" specification="entry/raise pooringSugar" name="poorSugar" incomingTransitions="_gydWgA-REeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_zm5F4A-REeuSodrqa4-Ntw" specification="sugarFinishPoored" target="_JrSbUCATEeu3H-aGHCLSKQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_f_clMA-REeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_gydWgA-REeuSodrqa4-Ntw" specification="" target="_G3WSpA-BEeuqGMS0Lu6UUA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_JrSbUCATEeu3H-aGHCLSKQ" specification="" name="sugarPoored" incomingTransitions="_zm5F4A-REeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_OkuPcCATEeu3H-aGHCLSKQ" specification="always" target="_BN22oCAAEeu3H-aGHCLSKQ"/>
          </vertices>
        </regions>
        <regions xmi:id="_G3WSrw-BEeuqGMS0Lu6UUA" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_G3WSsA-BEeuqGMS0Lu6UUA" specification="entry/raise pooringDrink" name="poorDrink" incomingTransitions="_hUxZYA-REeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_yPgcMA-REeuSodrqa4-Ntw" specification="drinkFinishPoored" target="_Gw6U4CATEeu3H-aGHCLSKQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_faW7IA-REeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_hUxZYA-REeuSodrqa4-Ntw" specification="" target="_G3WSsA-BEeuqGMS0Lu6UUA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Gw6U4CATEeu3H-aGHCLSKQ" name="drinkPoored" incomingTransitions="_yPgcMA-REeuSodrqa4-Ntw">
            <outgoingTransitions xmi:id="_QC754CATEeu3H-aGHCLSKQ" specification="every 100ms" target="_BN22oCAAEeu3H-aGHCLSKQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_G3W5sA-BEeuqGMS0Lu6UUA" name="expressoDistributed" incomingTransitions="_u1nIMA-REeuSodrqa4-Ntw">
        <outgoingTransitions xmi:id="_G3W5sw-BEeuqGMS0Lu6UUA" specification="drinkPickedUp" target="_G3Xgwg-BEeuqGMS0Lu6UUA"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_G3Xgwg-BEeuqGMS0Lu6UUA" incomingTransitions="_G3W5sw-BEeuqGMS0Lu6UUA"/>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_emG_gB__Eeu3H-aGHCLSKQ" incomingTransitions="_yJrnoCAREeu3H-aGHCLSKQ _14MrUCASEeu3H-aGHCLSKQ">
        <outgoingTransitions xmi:id="_EB31IA-TEeuSodrqa4-Ntw" specification="" target="_G3WSoA-BEeuqGMS0Lu6UUA"/>
      </vertices>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_BN22oCAAEeu3H-aGHCLSKQ" incomingTransitions="_OkuPcCATEeu3H-aGHCLSKQ _QC754CATEeu3H-aGHCLSKQ">
        <outgoingTransitions xmi:id="_u1nIMA-REeuSodrqa4-Ntw" specification="" target="_G3W5sA-BEeuqGMS0Lu6UUA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_ioessA-AEeuqGMS0Lu6UUA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_ioWw4A-AEeuqGMS0Lu6UUA" measurementUnit="Pixel">
    <children xmi:id="_iogh4A-AEeuqGMS0Lu6UUA" type="Region" element="_ioessw-AEeuqGMS0Lu6UUA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ioi-IA-AEeuqGMS0Lu6UUA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ioi-IQ-AEeuqGMS0Lu6UUA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ioi-Ig-AEeuqGMS0Lu6UUA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ioi-Iw-AEeuqGMS0Lu6UUA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_G3RaIA-BEeuqGMS0Lu6UUA" type="Entry" element="_G3T2cA-BEeuqGMS0Lu6UUA">
          <children xmi:id="_G3RaIQ-BEeuqGMS0Lu6UUA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_G3RaIg-BEeuqGMS0Lu6UUA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_G3RaIw-BEeuqGMS0Lu6UUA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_G3RaJA-BEeuqGMS0Lu6UUA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_G3RaJQ-BEeuqGMS0Lu6UUA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3RaJg-BEeuqGMS0Lu6UUA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_G3RaJw-BEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_G3RaKA-BEeuqGMS0Lu6UUA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3RaKQ-BEeuqGMS0Lu6UUA" x="207" width="15" height="15"/>
        </children>
        <children xmi:id="_G3SBMA-BEeuqGMS0Lu6UUA" type="State" element="_G3T2cg-BEeuqGMS0Lu6UUA">
          <children xsi:type="notation:DecorationNode" xmi:id="_G3SBMQ-BEeuqGMS0Lu6UUA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_G3SBMg-BEeuqGMS0Lu6UUA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_G3SBMw-BEeuqGMS0Lu6UUA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_G3SBNA-BEeuqGMS0Lu6UUA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_G3SBNQ-BEeuqGMS0Lu6UUA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3SBNg-BEeuqGMS0Lu6UUA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_G3SBNw-BEeuqGMS0Lu6UUA" type="StateFigureCompartment">
            <children xmi:id="_sqciUCASEeu3H-aGHCLSKQ" type="Region" element="_xBEe8B__Eeu3H-aGHCLSKQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_sqciUSASEeu3H-aGHCLSKQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_sqciUiASEeu3H-aGHCLSKQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_sqciUyASEeu3H-aGHCLSKQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_sqciVCASEeu3H-aGHCLSKQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_sqciVSASEeu3H-aGHCLSKQ" type="State" element="_xBKlpB__Eeu3H-aGHCLSKQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_sqciViASEeu3H-aGHCLSKQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_sqciVyASEeu3H-aGHCLSKQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_sqciWCASEeu3H-aGHCLSKQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_sqciWSASEeu3H-aGHCLSKQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_sqciWiASEeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqciWyASEeu3H-aGHCLSKQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_sqciXCASEeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_sqciXSASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_sqciXiASEeu3H-aGHCLSKQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sqciXyASEeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqciYCASEeu3H-aGHCLSKQ" x="2" y="38" width="193" height="53"/>
                </children>
                <children xmi:id="_sqciYSASEeu3H-aGHCLSKQ" type="Entry" element="_xBJ-ih__Eeu3H-aGHCLSKQ">
                  <children xmi:id="_sqciYiASEeu3H-aGHCLSKQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_sqciYyASEeu3H-aGHCLSKQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_sqciZCASEeu3H-aGHCLSKQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_sqciZSASEeu3H-aGHCLSKQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_sqciZiASEeu3H-aGHCLSKQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqciZyASEeu3H-aGHCLSKQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_sqciaCASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_sqciaSASEeu3H-aGHCLSKQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqciaiASEeu3H-aGHCLSKQ" x="55" width="15" height="15"/>
                </children>
                <children xmi:id="_sqciayASEeu3H-aGHCLSKQ" type="State" element="_xBEe_R__Eeu3H-aGHCLSKQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_sqcibCASEeu3H-aGHCLSKQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_sqcibSASEeu3H-aGHCLSKQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_sqcibiASEeu3H-aGHCLSKQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_sqcibyASEeu3H-aGHCLSKQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_sqcicCASEeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqcicSASEeu3H-aGHCLSKQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_sqciciASEeu3H-aGHCLSKQ" type="StateFigureCompartment">
                    <children xmi:id="_yMt4ECASEeu3H-aGHCLSKQ" type="Region" element="_xBHiSx__Eeu3H-aGHCLSKQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_yMt4ESASEeu3H-aGHCLSKQ" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4EiASEeu3H-aGHCLSKQ"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_yMt4EyASEeu3H-aGHCLSKQ"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_yMt4FCASEeu3H-aGHCLSKQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_yMt4FSASEeu3H-aGHCLSKQ" type="State" element="_xBIwYB__Eeu3H-aGHCLSKQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_yMt4FiASEeu3H-aGHCLSKQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4FyASEeu3H-aGHCLSKQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_yMt4GCASEeu3H-aGHCLSKQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_yMt4GSASEeu3H-aGHCLSKQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_yMt4GiASEeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yMt4GyASEeu3H-aGHCLSKQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_yMt4HCASEeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4HSASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_yMt4HiASEeu3H-aGHCLSKQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yMt4HyASEeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yMt4ICASEeu3H-aGHCLSKQ" x="3" y="36" width="167" height="60"/>
                        </children>
                        <children xmi:id="_yMt4ISASEeu3H-aGHCLSKQ" type="Entry" element="_xBIJVR__Eeu3H-aGHCLSKQ">
                          <children xmi:id="_yMt4IiASEeu3H-aGHCLSKQ" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_yMt4IyASEeu3H-aGHCLSKQ" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4JCASEeu3H-aGHCLSKQ"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_yMt4JSASEeu3H-aGHCLSKQ"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4JiASEeu3H-aGHCLSKQ" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yMt4JyASEeu3H-aGHCLSKQ"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4KCASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_yMt4KSASEeu3H-aGHCLSKQ" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yMt4KiASEeu3H-aGHCLSKQ" x="122"/>
                        </children>
                        <children xmi:id="_yMt4KyASEeu3H-aGHCLSKQ" type="State" element="_Yi5lQCASEeu3H-aGHCLSKQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_yMt4LCASEeu3H-aGHCLSKQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4LSASEeu3H-aGHCLSKQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_yMt4LiASEeu3H-aGHCLSKQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_yMt4LyASEeu3H-aGHCLSKQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_yMt4MCASEeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yMt4MSASEeu3H-aGHCLSKQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_yMt4MiASEeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4MyASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_yMt4NCASEeu3H-aGHCLSKQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yMt4NSASEeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yMt4NiASEeu3H-aGHCLSKQ" x="20" y="175" width="81" height="53"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yMt4NyASEeu3H-aGHCLSKQ"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_yMt4OCASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yMt4OSASEeu3H-aGHCLSKQ"/>
                    </children>
                    <children xmi:id="_sqdJfiASEeu3H-aGHCLSKQ" type="Region" element="_xBFGCB__Eeu3H-aGHCLSKQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_sqdJfyASEeu3H-aGHCLSKQ" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJgCASEeu3H-aGHCLSKQ"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_sqdJgSASEeu3H-aGHCLSKQ"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_sqdJgiASEeu3H-aGHCLSKQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_sqdJgyASEeu3H-aGHCLSKQ" type="State" element="_xBGUKR__Eeu3H-aGHCLSKQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_sqdJhCASEeu3H-aGHCLSKQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJhSASEeu3H-aGHCLSKQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_sqdJhiASEeu3H-aGHCLSKQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_sqdJhyASEeu3H-aGHCLSKQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_sqdJiCASEeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJiSASEeu3H-aGHCLSKQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_sqdJiiASEeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJiyASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_sqdJjCASEeu3H-aGHCLSKQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sqdJjSASEeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJjiASEeu3H-aGHCLSKQ" y="49" width="206" height="67"/>
                        </children>
                        <children xmi:id="_sqdJjyASEeu3H-aGHCLSKQ" type="Entry" element="_xBFtEx__Eeu3H-aGHCLSKQ">
                          <children xmi:id="_sqdJkCASEeu3H-aGHCLSKQ" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_sqdJkSASEeu3H-aGHCLSKQ" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJkiASEeu3H-aGHCLSKQ"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_sqdJkyASEeu3H-aGHCLSKQ"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJlCASEeu3H-aGHCLSKQ" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJlSASEeu3H-aGHCLSKQ"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJliASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_sqdJlyASEeu3H-aGHCLSKQ" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJmCASEeu3H-aGHCLSKQ" x="71" y="17"/>
                        </children>
                        <children xmi:id="_sqdJrCASEeu3H-aGHCLSKQ" type="State" element="_bYM-cCASEeu3H-aGHCLSKQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_sqdJrSASEeu3H-aGHCLSKQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJriASEeu3H-aGHCLSKQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_sqdJryASEeu3H-aGHCLSKQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_sqdJsCASEeu3H-aGHCLSKQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_sqdJsSASEeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJsiASEeu3H-aGHCLSKQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_sqdJsyASEeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJtCASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_sqdJtSASEeu3H-aGHCLSKQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sqdJtiASEeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJtyASEeu3H-aGHCLSKQ" x="62" y="193" width="103" height="53"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJmSASEeu3H-aGHCLSKQ"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJmiASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJmyASEeu3H-aGHCLSKQ"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJnCASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_sqdJnSASEeu3H-aGHCLSKQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sqdJniASEeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJnyASEeu3H-aGHCLSKQ" y="143" width="457" height="338"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_sqdJuCASEeu3H-aGHCLSKQ" type="Synchronization" element="_m_cHUCASEeu3H-aGHCLSKQ" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJuSASEeu3H-aGHCLSKQ" x="270" y="660" width="92" height="8"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJuiASEeu3H-aGHCLSKQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_sqdJuyASEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sqdJvCASEeu3H-aGHCLSKQ"/>
            </children>
            <children xmi:id="_tAEHoB__Eeu3H-aGHCLSKQ" type="Region" element="_G3Udeg-BEeuqGMS0Lu6UUA">
              <children xsi:type="notation:DecorationNode" xmi:id="_tAEHoR__Eeu3H-aGHCLSKQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_tAEHoh__Eeu3H-aGHCLSKQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_tAEHox__Eeu3H-aGHCLSKQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_tAEHpB__Eeu3H-aGHCLSKQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_tAEHpR__Eeu3H-aGHCLSKQ" type="State" element="_G3Udew-BEeuqGMS0Lu6UUA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_tAEHph__Eeu3H-aGHCLSKQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tAEHpx__Eeu3H-aGHCLSKQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_tAEHqB__Eeu3H-aGHCLSKQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tAEHqR__Eeu3H-aGHCLSKQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_tAEHqh__Eeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tAEHqx__Eeu3H-aGHCLSKQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tAEHrB__Eeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tAEHrR__Eeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_tAEHrh__Eeu3H-aGHCLSKQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tAEHrx__Eeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tAEHsB__Eeu3H-aGHCLSKQ" x="23" y="212" width="136" height="53"/>
                </children>
                <children xmi:id="_tAEHsR__Eeu3H-aGHCLSKQ" type="Entry" element="_G3Udfg-BEeuqGMS0Lu6UUA">
                  <children xmi:id="_tAEHsh__Eeu3H-aGHCLSKQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_tAEHsx__Eeu3H-aGHCLSKQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_tAEHtB__Eeu3H-aGHCLSKQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_tAEHtR__Eeu3H-aGHCLSKQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tAEHth__Eeu3H-aGHCLSKQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tAEHtx__Eeu3H-aGHCLSKQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tAEHuB__Eeu3H-aGHCLSKQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_tAEHuR__Eeu3H-aGHCLSKQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tAEHuh__Eeu3H-aGHCLSKQ" x="58" y="-1"/>
                </children>
                <children xmi:id="_maCwsCAREeu3H-aGHCLSKQ" type="State" element="_maDXwCAREeu3H-aGHCLSKQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_maCwsSAREeu3H-aGHCLSKQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_maCwsiAREeu3H-aGHCLSKQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_maCwsyAREeu3H-aGHCLSKQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_maCwtCAREeu3H-aGHCLSKQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_maCwtSAREeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_maCwtiAREeu3H-aGHCLSKQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_maCwtyAREeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_maCwuCAREeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_maCwuSAREeu3H-aGHCLSKQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_maCwuiAREeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_maCwuyAREeu3H-aGHCLSKQ" y="583" width="135" height="72"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tAEHvR__Eeu3H-aGHCLSKQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_tAEHvh__Eeu3H-aGHCLSKQ" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tAEHvx__Eeu3H-aGHCLSKQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_G3SBgA-BEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_G3SBgQ-BEeuqGMS0Lu6UUA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_G3SBgg-BEeuqGMS0Lu6UUA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3SBgw-BEeuqGMS0Lu6UUA" x="31" y="264" width="706" height="795"/>
        </children>
        <children xmi:id="_G3TPUg-BEeuqGMS0Lu6UUA" type="State" element="_G3WSoA-BEeuqGMS0Lu6UUA">
          <children xsi:type="notation:DecorationNode" xmi:id="_G3TPUw-BEeuqGMS0Lu6UUA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_G3TPVA-BEeuqGMS0Lu6UUA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_G3TPVQ-BEeuqGMS0Lu6UUA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_G3TPVg-BEeuqGMS0Lu6UUA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_G3TPVw-BEeuqGMS0Lu6UUA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3TPWA-BEeuqGMS0Lu6UUA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_G3TPWQ-BEeuqGMS0Lu6UUA" type="StateFigureCompartment">
            <children xmi:id="_QCO4YA-CEeuqGMS0Lu6UUA" type="Region" element="_G3WSow-BEeuqGMS0Lu6UUA">
              <children xsi:type="notation:DecorationNode" xmi:id="_QCO4YQ-CEeuqGMS0Lu6UUA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_QCO4Yg-CEeuqGMS0Lu6UUA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_QCO4Yw-CEeuqGMS0Lu6UUA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_QCO4ZA-CEeuqGMS0Lu6UUA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_QCO4ZQ-CEeuqGMS0Lu6UUA" type="State" element="_G3WSpA-BEeuqGMS0Lu6UUA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_QCO4Zg-CEeuqGMS0Lu6UUA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_QCO4Zw-CEeuqGMS0Lu6UUA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_QCO4aA-CEeuqGMS0Lu6UUA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_QCO4aQ-CEeuqGMS0Lu6UUA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_QCO4ag-CEeuqGMS0Lu6UUA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QCO4aw-CEeuqGMS0Lu6UUA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_QCO4bA-CEeuqGMS0Lu6UUA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_QCO4bQ-CEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_QCO4bg-CEeuqGMS0Lu6UUA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_QCO4bw-CEeuqGMS0Lu6UUA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QCO4cA-CEeuqGMS0Lu6UUA" x="55" y="42" width="82" height="53"/>
                </children>
                <children xmi:id="_f_dzUA-REeuSodrqa4-Ntw" type="Entry" element="_f_clMA-REeuSodrqa4-Ntw">
                  <children xmi:id="_f_fogA-REeuSodrqa4-Ntw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_f_fogw-REeuSodrqa4-Ntw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_f_fohA-REeuSodrqa4-Ntw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_f_fohQ-REeuSodrqa4-Ntw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_f_fogQ-REeuSodrqa4-Ntw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f_fogg-REeuSodrqa4-Ntw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_f_dzUQ-REeuSodrqa4-Ntw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_f_dzUg-REeuSodrqa4-Ntw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f_dzUw-REeuSodrqa4-Ntw" x="67" y="-1"/>
                </children>
                <children xmi:id="_JrSbUyATEeu3H-aGHCLSKQ" type="State" element="_JrSbUCATEeu3H-aGHCLSKQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JrTCYCATEeu3H-aGHCLSKQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JrTCYSATEeu3H-aGHCLSKQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JrTCYiATEeu3H-aGHCLSKQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JrTCYyATEeu3H-aGHCLSKQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JrTCZCATEeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JrTCZSATEeu3H-aGHCLSKQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JrTCZiATEeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JrSbVCATEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JrSbVSATEeu3H-aGHCLSKQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JrTCZyATEeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JrSbViATEeu3H-aGHCLSKQ" x="161" y="212"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QCO4fQ-CEeuqGMS0Lu6UUA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_QCO4fg-CEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QCO4fw-CEeuqGMS0Lu6UUA"/>
            </children>
            <children xmi:id="_G3TPeg-BEeuqGMS0Lu6UUA" type="Region" element="_G3WSrw-BEeuqGMS0Lu6UUA">
              <children xsi:type="notation:DecorationNode" xmi:id="_G3TPew-BEeuqGMS0Lu6UUA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_G3TPfA-BEeuqGMS0Lu6UUA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_G3TPfQ-BEeuqGMS0Lu6UUA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_G3TPfg-BEeuqGMS0Lu6UUA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_G3TPfw-BEeuqGMS0Lu6UUA" type="State" element="_G3WSsA-BEeuqGMS0Lu6UUA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_G3TPgA-BEeuqGMS0Lu6UUA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_G3TPgQ-BEeuqGMS0Lu6UUA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_G3TPgg-BEeuqGMS0Lu6UUA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_G3TPgw-BEeuqGMS0Lu6UUA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_G3TPhA-BEeuqGMS0Lu6UUA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3TPhQ-BEeuqGMS0Lu6UUA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_G3TPhg-BEeuqGMS0Lu6UUA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_G3TPhw-BEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_G3TPiA-BEeuqGMS0Lu6UUA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_G3TPiQ-BEeuqGMS0Lu6UUA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3TPig-BEeuqGMS0Lu6UUA" x="55" y="43" width="192" height="59"/>
                </children>
                <children xmi:id="_faZXYA-REeuSodrqa4-Ntw" type="Entry" element="_faW7IA-REeuSodrqa4-Ntw">
                  <children xmi:id="_faZXZA-REeuSodrqa4-Ntw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_faZXZw-REeuSodrqa4-Ntw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_faZXaA-REeuSodrqa4-Ntw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_faZXaQ-REeuSodrqa4-Ntw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_faZXZQ-REeuSodrqa4-Ntw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_faZXZg-REeuSodrqa4-Ntw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_faZXYQ-REeuSodrqa4-Ntw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_faZXYg-REeuSodrqa4-Ntw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_faZXYw-REeuSodrqa4-Ntw" x="146" y="-2" width="15" height="15"/>
                </children>
                <children xmi:id="_Gw7jACATEeu3H-aGHCLSKQ" type="State" element="_Gw6U4CATEeu3H-aGHCLSKQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Gw7jBCATEeu3H-aGHCLSKQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Gw7jBSATEeu3H-aGHCLSKQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Gw7jBiATEeu3H-aGHCLSKQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Gw7jByATEeu3H-aGHCLSKQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Gw8xICATEeu3H-aGHCLSKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Gw8xISATEeu3H-aGHCLSKQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Gw8xIiATEeu3H-aGHCLSKQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Gw7jASATEeu3H-aGHCLSKQ" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Gw7jAiATEeu3H-aGHCLSKQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Gw8xIyATEeu3H-aGHCLSKQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Gw7jAyATEeu3H-aGHCLSKQ" x="157" y="237"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3TPlw-BEeuqGMS0Lu6UUA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_G3TPmA-BEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3TPmQ-BEeuqGMS0Lu6UUA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_G3TPmg-BEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_G3TPmw-BEeuqGMS0Lu6UUA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_G3TPnA-BEeuqGMS0Lu6UUA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3TPnQ-BEeuqGMS0Lu6UUA" x="7" y="1148" width="557" height="347"/>
        </children>
        <children xmi:id="_G3T2YA-BEeuqGMS0Lu6UUA" type="State" element="_G3W5sA-BEeuqGMS0Lu6UUA">
          <children xsi:type="notation:DecorationNode" xmi:id="_G3T2YQ-BEeuqGMS0Lu6UUA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_G3T2Yg-BEeuqGMS0Lu6UUA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_G3T2Yw-BEeuqGMS0Lu6UUA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_G3T2ZA-BEeuqGMS0Lu6UUA" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_G3T2ZQ-BEeuqGMS0Lu6UUA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3T2Zg-BEeuqGMS0Lu6UUA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_G3T2Zw-BEeuqGMS0Lu6UUA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_G3T2aA-BEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_G3T2aQ-BEeuqGMS0Lu6UUA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_G3T2ag-BEeuqGMS0Lu6UUA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3T2aw-BEeuqGMS0Lu6UUA" x="199" y="1604" width="189" height="54"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_G3T2bg-BEeuqGMS0Lu6UUA" type="FinalState" element="_G3Xgwg-BEeuqGMS0Lu6UUA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G3T2bw-BEeuqGMS0Lu6UUA" x="271" y="1776" width="15" height="15"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_emmHsB__Eeu3H-aGHCLSKQ" type="Synchronization" element="_emG_gB__Eeu3H-aGHCLSKQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_emmHsR__Eeu3H-aGHCLSKQ" x="313" y="1108" width="277" height="8"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_BN3dsCAAEeu3H-aGHCLSKQ" type="Synchronization" element="_BN22oCAAEeu3H-aGHCLSKQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BN3dsSAAEeu3H-aGHCLSKQ" x="163" y="1552" width="211" height="8"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ioi-JA-AEeuqGMS0Lu6UUA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_iogh4Q-AEeuqGMS0Lu6UUA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iojlMA-AEeuqGMS0Lu6UUA" x="305" y="1080" width="978" height="2278"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_ionPkw-AEeuqGMS0Lu6UUA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_ion2oA-AEeuqGMS0Lu6UUA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ion2oQ-AEeuqGMS0Lu6UUA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ion2og-AEeuqGMS0Lu6UUA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ion2ow-AEeuqGMS0Lu6UUA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ion2pA-AEeuqGMS0Lu6UUA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ion2pQ-AEeuqGMS0Lu6UUA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ioessQ-AEeuqGMS0Lu6UUA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_ioessg-AEeuqGMS0Lu6UUA"/>
    <edges xmi:id="_G3Xgww-BEeuqGMS0Lu6UUA" type="Transition" element="_G3T2cQ-BEeuqGMS0Lu6UUA" source="_G3RaIA-BEeuqGMS0Lu6UUA" target="_G3SBMA-BEeuqGMS0Lu6UUA">
      <children xsi:type="notation:DecorationNode" xmi:id="_G3XgxA-BEeuqGMS0Lu6UUA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_G3XgxQ-BEeuqGMS0Lu6UUA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_G3Xgxg-BEeuqGMS0Lu6UUA" x="-97" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_G3Xgxw-BEeuqGMS0Lu6UUA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_G3XgyA-BEeuqGMS0Lu6UUA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_G3XgyQ-BEeuqGMS0Lu6UUA" points="[0, 7, -150, -283]$[0, 257, -150, -33]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_G3Xgyg-BEeuqGMS0Lu6UUA" id="(0.4723926380368098,0.04265402843601896)"/>
    </edges>
    <edges xmi:id="_G3Xgyw-BEeuqGMS0Lu6UUA" type="Transition" element="_G3Udfw-BEeuqGMS0Lu6UUA" source="_tAEHsR__Eeu3H-aGHCLSKQ" target="_tAEHpR__Eeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_G3XgzA-BEeuqGMS0Lu6UUA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_G3XgzQ-BEeuqGMS0Lu6UUA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_G3Xgzg-BEeuqGMS0Lu6UUA" x="-85" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_G3Xgzw-BEeuqGMS0Lu6UUA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_G3Xg0A-BEeuqGMS0Lu6UUA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_G3Xg0Q-BEeuqGMS0Lu6UUA" points="[4, 6, -22, -226]$[4, 206, -22, -26]"/>
    </edges>
    <edges xmi:id="_xBKlnB__Eeu3H-aGHCLSKQ" type="Transition" element="_xBJ-ix__Eeu3H-aGHCLSKQ" source="_sqciYSASEeu3H-aGHCLSKQ" target="_sqciVSASEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xBKlnR__Eeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xBKlnh__Eeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xBKlnx__Eeu3H-aGHCLSKQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xBKloB__Eeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xBKloR__Eeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xBKloh__Eeu3H-aGHCLSKQ" points="[0, 7, -53, -30]$[0, 31, -53, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBKlox__Eeu3H-aGHCLSKQ" id="(0.5882352941176471,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_xBIwYx__Eeu3H-aGHCLSKQ" type="Transition" element="_xBIwbB__Eeu3H-aGHCLSKQ" source="_yMt4FSASEeu3H-aGHCLSKQ" target="_yMt4KyASEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xBIwaR__Eeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xBIwax__Eeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xBIwah__Eeu3H-aGHCLSKQ" x="-17" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xBIwaB__Eeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xBIwZx__Eeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xBIwZh__Eeu3H-aGHCLSKQ" points="[-48, 12, 10, -83]$[-48, 91, 10, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBIwZR__Eeu3H-aGHCLSKQ" id="(0.6470588235294118,0.8113207547169812)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBIwZB__Eeu3H-aGHCLSKQ" id="(0.4077669902912621,0.07547169811320754)"/>
    </edges>
    <edges xmi:id="_G3Z9GQ-BEeuqGMS0Lu6UUA" type="Transition" element="_G3W5sw-BEeuqGMS0Lu6UUA" source="_G3T2YA-BEeuqGMS0Lu6UUA" target="_G3T2bg-BEeuqGMS0Lu6UUA">
      <children xsi:type="notation:DecorationNode" xmi:id="_G3Z9Gg-BEeuqGMS0Lu6UUA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_G3Z9Gw-BEeuqGMS0Lu6UUA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_G3Z9HA-BEeuqGMS0Lu6UUA" x="-15" y="-66"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_G3Z9HQ-BEeuqGMS0Lu6UUA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_G3Z9Hg-BEeuqGMS0Lu6UUA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_G3Z9Hw-BEeuqGMS0Lu6UUA" points="[19, 2, -1, -125]$[19, 120, -1, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_G3Z9IA-BEeuqGMS0Lu6UUA" id="(0.3157894736842105,0.9629629629629629)"/>
    </edges>
    <edges xmi:id="_xBGULB__Eeu3H-aGHCLSKQ" type="Transition" element="_xBG7Nh__Eeu3H-aGHCLSKQ" source="_sqdJgyASEeu3H-aGHCLSKQ" target="_sqdJrCASEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xBG7Mx__Eeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xBG7NR__Eeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xBG7NB__Eeu3H-aGHCLSKQ" x="8" y="-58"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xBG7Mh__Eeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xBG7MR__Eeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xBG7MB__Eeu3H-aGHCLSKQ" points="[44, 8, 17, -77]$[44, 85, 17, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBGULR__Eeu3H-aGHCLSKQ" id="(0.425531914893617,0.8867924528301887)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fTz4YCASEeu3H-aGHCLSKQ" id="(0.5048543689320388,0.0)"/>
    </edges>
    <edges xmi:id="_s2XZEh__Eeu3H-aGHCLSKQ" type="Transition" element="_s2WyAB__Eeu3H-aGHCLSKQ" source="_tAEHpR__Eeu3H-aGHCLSKQ" target="_maCwsCAREeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_s2XZEx__Eeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_s2XZFB__Eeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_s2XZFR__Eeu3H-aGHCLSKQ" x="22" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_s2XZFh__Eeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_s2XZFx__Eeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_s2XZGB__Eeu3H-aGHCLSKQ" points="[4, 5, 64, -324]$[4, 323, 64, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_s2XZGR__Eeu3H-aGHCLSKQ" id="(0.375,0.9056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_p35-sCAREeu3H-aGHCLSKQ" id="(0.1037037037037037,0.08333333333333333)"/>
    </edges>
    <edges xmi:id="_xBLMoh__Eeu3H-aGHCLSKQ" type="Transition" element="_xBLMqx__Eeu3H-aGHCLSKQ" source="_sqciVSASEeu3H-aGHCLSKQ" target="_sqciayASEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xBLMqB__Eeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xBLMqh__Eeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xBLMqR__Eeu3H-aGHCLSKQ" x="-6" y="-68"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xBLMpx__Eeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xBLMph__Eeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xBLMpR__Eeu3H-aGHCLSKQ" points="[33, 5, -172, -71]$[33, 57, -172, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBLMpB__Eeu3H-aGHCLSKQ" id="(0.10784313725490197,0.9056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBLMox__Eeu3H-aGHCLSKQ" id="(0.4975288303130148,0.057057057057057055)"/>
    </edges>
    <edges xmi:id="_xBGUIB__Eeu3H-aGHCLSKQ" type="Transition" element="_xBFtFB__Eeu3H-aGHCLSKQ" source="_sqdJjyASEeu3H-aGHCLSKQ" target="_sqdJgyASEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xBGUIR__Eeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xBGUIh__Eeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xBGUIx__Eeu3H-aGHCLSKQ" x="-46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xBGUJB__Eeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xBGUJR__Eeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xBGUJh__Eeu3H-aGHCLSKQ" points="[5, 13, -35, -20]$[5, 17, -35, -16]$[25, 17, -15, -16]$[25, 32, -15, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBGUJx__Eeu3H-aGHCLSKQ" id="(0.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xBGUKB__Eeu3H-aGHCLSKQ" id="(0.5425531914893617,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_xBIJYx__Eeu3H-aGHCLSKQ" type="Transition" element="_xBIJVh__Eeu3H-aGHCLSKQ" source="_yMt4ISASEeu3H-aGHCLSKQ" target="_yMt4FSASEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xBIJZB__Eeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xBIJZR__Eeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xBIJZh__Eeu3H-aGHCLSKQ" x="-9" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xBIJZx__Eeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xBIJaB__Eeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xBIJaR__Eeu3H-aGHCLSKQ" points="[-6, 4, 37, -55]$[-6, 29, 37, -30]"/>
    </edges>
    <edges xmi:id="_gyfywA-REeuSodrqa4-Ntw" type="Transition" element="_gydWgA-REeuSodrqa4-Ntw" source="_f_dzUA-REeuSodrqa4-Ntw" target="_QCO4ZQ-CEeuqGMS0Lu6UUA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gyfyxA-REeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gyfyxQ-REeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gyfyxg-REeuSodrqa4-Ntw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gyfywQ-REeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gyfyww-REeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gyfywg-REeuSodrqa4-Ntw" points="[1, 6, -17, -70]$[1, 36, -17, -40]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gyiPAA-REeuSodrqa4-Ntw" id="(0.2,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gyiPAQ-REeuSodrqa4-Ntw" id="(0.4024390243902439,0.7547169811320755)"/>
    </edges>
    <edges xmi:id="_hUxZYQ-REeuSodrqa4-Ntw" type="Transition" element="_hUxZYA-REeuSodrqa4-Ntw" source="_faZXYA-REeuSodrqa4-Ntw" target="_G3TPfw-BEeuqGMS0Lu6UUA">
      <children xsi:type="notation:DecorationNode" xmi:id="_hUxZZQ-REeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hUxZZg-REeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hUxZZw-REeuSodrqa4-Ntw" x="-6" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hUxZYg-REeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hUxZZA-REeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hUxZYw-REeuSodrqa4-Ntw" points="[5, 4, 7, -63]$[5, 38, 7, -29]"/>
    </edges>
    <edges xmi:id="_u1nIMQ-REeuSodrqa4-Ntw" type="Transition" element="_u1nIMA-REeuSodrqa4-Ntw" source="_BN3dsCAAEeu3H-aGHCLSKQ" target="_G3T2YA-BEeuqGMS0Lu6UUA">
      <children xsi:type="notation:DecorationNode" xmi:id="_u1pkcQ-REeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_u1pkcg-REeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_u1pkcw-REeuSodrqa4-Ntw" x="-7" y="-80"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_u1nIMg-REeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_u1pkcA-REeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_u1nIMw-REeuSodrqa4-Ntw" points="[25, 4, 0, -71]$[25, 48, 0, -27]"/>
    </edges>
    <edges xmi:id="_yPgcMQ-REeuSodrqa4-Ntw" type="Transition" element="_yPgcMA-REeuSodrqa4-Ntw" source="_G3TPfw-BEeuqGMS0Lu6UUA" target="_Gw7jACATEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yPgcNQ-REeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yPgcNg-REeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yPgcNw-REeuSodrqa4-Ntw" x="-24" y="99"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yPgcMg-REeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yPgcNA-REeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yPgcMw-REeuSodrqa4-Ntw" points="[-3, 30, 67, -237]$[-3, 137, 67, -130]$[-69, 137, 1, -130]$[-69, 263, 1, -4]"/>
    </edges>
    <edges xmi:id="_zm7iIA-REeuSodrqa4-Ntw" type="Transition" element="_zm5F4A-REeuSodrqa4-Ntw" source="_QCO4ZQ-CEeuqGMS0Lu6UUA" target="_JrSbUyATEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zm7iJA-REeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zm7iJQ-REeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zm7iJg-REeuSodrqa4-Ntw" x="-1" y="-22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zm7iIQ-REeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zm7iIw-REeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zm7iIg-REeuSodrqa4-Ntw" points="[7, 12, -163, -245]$[7, 137, -163, -120]$[78, 137, -92, -120]$[78, 253, -92, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zm9-YA-REeuSodrqa4-Ntw" id="(0.23170731707317074,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KLY3sCATEeu3H-aGHCLSKQ" id="(0.6571428571428571,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_EB8toA-TEeuSodrqa4-Ntw" type="Transition" element="_EB31IA-TEeuSodrqa4-Ntw" source="_emmHsB__Eeu3H-aGHCLSKQ" target="_G3TPUg-BEeuqGMS0Lu6UUA">
      <children xsi:type="notation:DecorationNode" xmi:id="_EB8tpA-TEeuSodrqa4-Ntw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EB8tpQ-TEeuSodrqa4-Ntw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EB8tpg-TEeuSodrqa4-Ntw" y="-50"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EB8toQ-TEeuSodrqa4-Ntw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EB8tow-TEeuSodrqa4-Ntw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EB8tog-TEeuSodrqa4-Ntw" points="[-102, 4, 63, -56]$[-102, 9, 63, -51]$[-133, 9, 32, -51]$[-133, 36, 32, -24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EB_J4Q-TEeuSodrqa4-Ntw" id="(0.5008976660682226,0.069164265129683)"/>
    </edges>
    <edges xmi:id="_yJsOsCAREeu3H-aGHCLSKQ" type="Transition" element="_yJrnoCAREeu3H-aGHCLSKQ" source="_maCwsCAREeu3H-aGHCLSKQ" target="_emmHsB__Eeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yJs1wCAREeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yJs1wSAREeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yJs1wiAREeu3H-aGHCLSKQ" x="-39" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yJsOsSAREeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yJsOsyAREeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yJsOsiAREeu3H-aGHCLSKQ" points="[-3, 5, 0, -124]$[36, 128, 39, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yJuD4CAREeu3H-aGHCLSKQ" id="(0.22962962962962963,0.9305555555555556)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yJuD4SAREeu3H-aGHCLSKQ" id="(0.8592057761732852,0.375)"/>
    </edges>
    <edges xmi:id="_hXyiUCASEeu3H-aGHCLSKQ" type="Transition" element="_hXx7QCASEeu3H-aGHCLSKQ" source="_sqdJrCASEeu3H-aGHCLSKQ" target="_sqdJuCASEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_hXyiVCASEeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hXyiVSASEeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hXyiViASEeu3H-aGHCLSKQ" x="28" y="-48"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hXyiUSASEeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hXyiUyASEeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hXyiUiASEeu3H-aGHCLSKQ" points="[48, 6, 5, -205]$[48, 70, 5, -141]$[33, 70, -10, -141]$[33, 210, -10, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hXzJYCASEeu3H-aGHCLSKQ" id="(0.1650485436893204,0.8867924528301887)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hXzJYSASEeu3H-aGHCLSKQ" id="(0.8586956521739131,0.125)"/>
    </edges>
    <edges xmi:id="_i9ZOMCASEeu3H-aGHCLSKQ" type="Transition" element="_i9YnICASEeu3H-aGHCLSKQ" source="_yMt4KyASEeu3H-aGHCLSKQ" target="_sqdJuCASEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_i9ZONCASEeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_i9ZONSASEeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_i9ZONiASEeu3H-aGHCLSKQ" x="28" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_i9ZOMSASEeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_i9ZOMyASEeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_i9ZOMiASEeu3H-aGHCLSKQ" points="[11, 27, -228, -226]$[11, 183, -228, -70]$[233, 183, -6, -70]$[233, 249, -6, -4]"/>
    </edges>
    <edges xmi:id="_14NSYCASEeu3H-aGHCLSKQ" type="Transition" element="_14MrUCASEeu3H-aGHCLSKQ" source="_sqdJuCASEeu3H-aGHCLSKQ" target="_emmHsB__Eeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_14NSZCASEeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_14NSZSASEeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_14NSZiASEeu3H-aGHCLSKQ" x="24" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_14NSYSASEeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_14NSYyASEeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_14NSYiASEeu3H-aGHCLSKQ" points="[1, 5, -108, -142]$[-64, 150, -173, 3]"/>
    </edges>
    <edges xmi:id="_Oku2gCATEeu3H-aGHCLSKQ" type="Transition" element="_OkuPcCATEeu3H-aGHCLSKQ" source="_JrSbUyATEeu3H-aGHCLSKQ" target="_BN3dsCAAEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Oku2hCATEeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Oku2hSATEeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Oku2hiATEeu3H-aGHCLSKQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Oku2gSATEeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Oku2gyATEeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Oku2giATEeu3H-aGHCLSKQ" points="[-4, 10, -39, -95]$[-97, 108, -132, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OkwEoCATEeu3H-aGHCLSKQ" id="(0.5612244897959183,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_QC8g8CATEeu3H-aGHCLSKQ" type="Transition" element="_QC754CATEeu3H-aGHCLSKQ" source="_Gw7jACATEeu3H-aGHCLSKQ" target="_BN3dsCAAEeu3H-aGHCLSKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_QC8g9CATEeu3H-aGHCLSKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QC8g9SATEeu3H-aGHCLSKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QC8g9iATEeu3H-aGHCLSKQ" x="-25" y="-46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QC8g8SATEeu3H-aGHCLSKQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QC8g8yATEeu3H-aGHCLSKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QC8g8iATEeu3H-aGHCLSKQ" points="[-4, 2, 156, -111]$[-159, 115, 1, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QC-WICATEeu3H-aGHCLSKQ" id="(0.031578947368421054,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QC-WISATEeu3H-aGHCLSKQ" id="(0.8009478672985783,0.875)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
