<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_c35XsCpnEeugiqEj5PDgwg" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;&#xA;in event sugarFinishPoored&#xA;in event drinkFinishPoored&#xA;out event pooringSyrup&#xA;out event doAddMixIcecream&#xA;var timeSugar:integer&#xA;var timeDrink:integer&#xA;var mappleSyrup:boolean&#xA;var iceCream:boolean" name="poorIngredient">
    <regions xmi:id="_jUyioCpnEeugiqEj5PDgwg" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_jU1l9ypnEeugiqEj5PDgwg" name="poorIngredient" incomingTransitions="_U00GgCpxEeugiqEj5PDgwg">
        <regions xmi:id="_jU1l-SpnEeugiqEj5PDgwg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_jU1l-ipnEeugiqEj5PDgwg" specification="" name="poorSugar" incomingTransitions="_HuHKgCwoEeuWt819MOcpkA">
            <outgoingTransitions xmi:id="_jU1mAipnEeugiqEj5PDgwg" specification="after timeSugar ms " target="_jU1mCCpnEeugiqEj5PDgwg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_jU1mBipnEeugiqEj5PDgwg">
            <outgoingTransitions xmi:id="_D0KdcCwoEeuWt819MOcpkA" specification="" target="_C75YsCwoEeuWt819MOcpkA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jU1mCCpnEeugiqEj5PDgwg" specification="" name="sugarOrSyrupPoored" incomingTransitions="_jU1mAipnEeugiqEj5PDgwg _au6h8CwoEeuWt819MOcpkA">
            <outgoingTransitions xmi:id="_jU1mCipnEeugiqEj5PDgwg" specification="always" target="_jU2NEypnEeugiqEj5PDgwg"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_C75YsCwoEeuWt819MOcpkA" incomingTransitions="_D0KdcCwoEeuWt819MOcpkA">
            <outgoingTransitions xmi:id="_HuHKgCwoEeuWt819MOcpkA" specification="" target="_jU1l-ipnEeugiqEj5PDgwg"/>
            <outgoingTransitions xmi:id="_I17uMCwoEeuWt819MOcpkA" specification="[mappleSyrup]" target="_WJdZwCwoEeuWt819MOcpkA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_WJdZwCwoEeuWt819MOcpkA" specification="entry/raise pooringSyrup" name="syrupPoor" incomingTransitions="_I17uMCwoEeuWt819MOcpkA">
            <outgoingTransitions xmi:id="_au6h8CwoEeuWt819MOcpkA" specification="after 3s" target="_jU1mCCpnEeugiqEj5PDgwg"/>
          </vertices>
        </regions>
        <regions xmi:id="_jU1mDSpnEeugiqEj5PDgwg" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_jU1mDipnEeugiqEj5PDgwg" specification="" name="poorDrink" incomingTransitions="_jU1mGypnEeugiqEj5PDgwg">
            <outgoingTransitions xmi:id="_jU1mFipnEeugiqEj5PDgwg" specification="after timeDrink ms" target="_jU1mHCpnEeugiqEj5PDgwg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_jU1mGipnEeugiqEj5PDgwg">
            <outgoingTransitions xmi:id="_jU1mGypnEeugiqEj5PDgwg" specification="" target="_jU1mDipnEeugiqEj5PDgwg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jU1mHCpnEeugiqEj5PDgwg" name="drinkPoored" incomingTransitions="_jU1mFipnEeugiqEj5PDgwg">
            <outgoingTransitions xmi:id="_jU1mHipnEeugiqEj5PDgwg" specification="every 100ms" target="_jU2NEypnEeugiqEj5PDgwg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_jU2NEypnEeugiqEj5PDgwg" incomingTransitions="_jU1mCipnEeugiqEj5PDgwg _jU1mHipnEeugiqEj5PDgwg">
        <outgoingTransitions xmi:id="_SyHDoCxNEeuWt819MOcpkA" specification="" target="_O8grECxNEeuWt819MOcpkA"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_1jBNoCpnEeugiqEj5PDgwg">
        <outgoingTransitions xmi:id="_U00GgCpxEeugiqEj5PDgwg" specification="" target="_jU1l9ypnEeugiqEj5PDgwg"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_LhIqwCpoEeugiqEj5PDgwg" incomingTransitions="_Uc800CxNEeuWt819MOcpkA _WtJV0CxNEeuWt819MOcpkA"/>
      <vertices xsi:type="sgraph:State" xmi:id="_NdoSQCxNEeuWt819MOcpkA" specification="entry/raise doAddMixIcecream" name="add&amp;mixIcream" incomingTransitions="_TxCxECxNEeuWt819MOcpkA">
        <outgoingTransitions xmi:id="_WtJV0CxNEeuWt819MOcpkA" specification="after 4s" target="_LhIqwCpoEeugiqEj5PDgwg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_O8grECxNEeuWt819MOcpkA" incomingTransitions="_SyHDoCxNEeuWt819MOcpkA">
        <outgoingTransitions xmi:id="_TxCxECxNEeuWt819MOcpkA" specification="[iceCream]" target="_NdoSQCxNEeuWt819MOcpkA"/>
        <outgoingTransitions xmi:id="_Uc800CxNEeuWt819MOcpkA" specification="" target="_LhIqwCpoEeugiqEj5PDgwg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_c39CECpnEeugiqEj5PDgwg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_c35XsCpnEeugiqEj5PDgwg" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_c4ZuACpnEeugiqEj5PDgwg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_c4aVECpnEeugiqEj5PDgwg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c4aVESpnEeugiqEj5PDgwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c4aVEipnEeugiqEj5PDgwg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_c4aVEypnEeugiqEj5PDgwg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c4aVFCpnEeugiqEj5PDgwg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c4bjMCpnEeugiqEj5PDgwg" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_jUwGYCpnEeugiqEj5PDgwg" type="Region" element="_jUyioCpnEeugiqEj5PDgwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jUwGYSpnEeugiqEj5PDgwg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwGYipnEeugiqEj5PDgwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jUwGYypnEeugiqEj5PDgwg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jUwGZCpnEeugiqEj5PDgwg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_jUwHJSpnEeugiqEj5PDgwg" type="State" element="_jU1l9ypnEeugiqEj5PDgwg">
          <children xsi:type="notation:DecorationNode" xmi:id="_jUwHJipnEeugiqEj5PDgwg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHJypnEeugiqEj5PDgwg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jUwHKCpnEeugiqEj5PDgwg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jUwHKSpnEeugiqEj5PDgwg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jUwHKipnEeugiqEj5PDgwg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHKypnEeugiqEj5PDgwg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jUwHLCpnEeugiqEj5PDgwg" type="StateFigureCompartment">
            <children xmi:id="_Z7zC8CwoEeuWt819MOcpkA" type="Region" element="_jU1l-SpnEeugiqEj5PDgwg">
              <children xsi:type="notation:DecorationNode" xmi:id="_Z7zC8SwoEeuWt819MOcpkA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zC8iwoEeuWt819MOcpkA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Z7zC8ywoEeuWt819MOcpkA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Z7zC9CwoEeuWt819MOcpkA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_Z7zC9SwoEeuWt819MOcpkA" type="State" element="_jU1l-ipnEeugiqEj5PDgwg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Z7zC9iwoEeuWt819MOcpkA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zC9ywoEeuWt819MOcpkA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Z7zC-CwoEeuWt819MOcpkA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Z7zC-SwoEeuWt819MOcpkA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Z7zC-iwoEeuWt819MOcpkA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zC-ywoEeuWt819MOcpkA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Z7zC_CwoEeuWt819MOcpkA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zC_SwoEeuWt819MOcpkA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Z7zC_iwoEeuWt819MOcpkA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Z7zC_ywoEeuWt819MOcpkA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDACwoEeuWt819MOcpkA" y="62" width="82" height="61"/>
                </children>
                <children xmi:id="_Z7zDASwoEeuWt819MOcpkA" type="Entry" element="_jU1mBipnEeugiqEj5PDgwg">
                  <children xmi:id="_Z7zDAiwoEeuWt819MOcpkA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Z7zDAywoEeuWt819MOcpkA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zDBCwoEeuWt819MOcpkA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Z7zDBSwoEeuWt819MOcpkA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zDBiwoEeuWt819MOcpkA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDBywoEeuWt819MOcpkA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zDCCwoEeuWt819MOcpkA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Z7zDCSwoEeuWt819MOcpkA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDCiwoEeuWt819MOcpkA" x="119" y="-1" width="15" height="15"/>
                </children>
                <children xmi:id="_Z7zDCywoEeuWt819MOcpkA" type="State" element="_jU1mCCpnEeugiqEj5PDgwg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Z7zDDCwoEeuWt819MOcpkA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zDDSwoEeuWt819MOcpkA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Z7zDDiwoEeuWt819MOcpkA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Z7zDDywoEeuWt819MOcpkA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Z7zDECwoEeuWt819MOcpkA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDESwoEeuWt819MOcpkA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Z7zDEiwoEeuWt819MOcpkA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zDEywoEeuWt819MOcpkA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Z7zDFCwoEeuWt819MOcpkA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Z7zDFSwoEeuWt819MOcpkA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDFiwoEeuWt819MOcpkA" x="80" y="218" width="154" height="73"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_Z7zDFywoEeuWt819MOcpkA" type="Choice" element="_C75YsCwoEeuWt819MOcpkA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDGCwoEeuWt819MOcpkA" x="119" y="24" width="15" height="15"/>
                </children>
                <children xmi:id="_Z7zDGSwoEeuWt819MOcpkA" type="State" element="_WJdZwCwoEeuWt819MOcpkA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Z7zDGiwoEeuWt819MOcpkA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zDGywoEeuWt819MOcpkA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Z7zDHCwoEeuWt819MOcpkA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Z7zDHSwoEeuWt819MOcpkA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Z7zDHiwoEeuWt819MOcpkA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDHywoEeuWt819MOcpkA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Z7zDICwoEeuWt819MOcpkA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zDISwoEeuWt819MOcpkA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Z7zDIiwoEeuWt819MOcpkA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Z7zDIywoEeuWt819MOcpkA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDJCwoEeuWt819MOcpkA" x="151" y="67" width="181" height="57"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDJSwoEeuWt819MOcpkA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7zDJiwoEeuWt819MOcpkA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z7zDJywoEeuWt819MOcpkA"/>
            </children>
            <children xmi:id="_jUwHVypnEeugiqEj5PDgwg" type="Region" element="_jU1mDSpnEeugiqEj5PDgwg">
              <children xsi:type="notation:DecorationNode" xmi:id="_jUwHWCpnEeugiqEj5PDgwg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHWSpnEeugiqEj5PDgwg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_jUwHWipnEeugiqEj5PDgwg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_jUwHWypnEeugiqEj5PDgwg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_jUwHXCpnEeugiqEj5PDgwg" type="State" element="_jU1mDipnEeugiqEj5PDgwg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_jUwHXSpnEeugiqEj5PDgwg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHXipnEeugiqEj5PDgwg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_jUwHXypnEeugiqEj5PDgwg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jUwHYCpnEeugiqEj5PDgwg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_jUwHYSpnEeugiqEj5PDgwg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHYipnEeugiqEj5PDgwg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jUwHYypnEeugiqEj5PDgwg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHZCpnEeugiqEj5PDgwg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_jUwHZSpnEeugiqEj5PDgwg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jUwHZipnEeugiqEj5PDgwg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHZypnEeugiqEj5PDgwg" x="55" y="43" width="192" height="59"/>
                </children>
                <children xmi:id="_jUwHaCpnEeugiqEj5PDgwg" type="Entry" element="_jU1mGipnEeugiqEj5PDgwg">
                  <children xmi:id="_jUwHaSpnEeugiqEj5PDgwg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_jUwHaipnEeugiqEj5PDgwg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHaypnEeugiqEj5PDgwg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_jUwHbCpnEeugiqEj5PDgwg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHbSpnEeugiqEj5PDgwg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHbipnEeugiqEj5PDgwg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHbypnEeugiqEj5PDgwg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_jUwHcCpnEeugiqEj5PDgwg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHcSpnEeugiqEj5PDgwg" x="146" y="-2" width="15" height="15"/>
                </children>
                <children xmi:id="_jUwHcipnEeugiqEj5PDgwg" type="State" element="_jU1mHCpnEeugiqEj5PDgwg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_jUwHcypnEeugiqEj5PDgwg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHdCpnEeugiqEj5PDgwg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_jUwHdSpnEeugiqEj5PDgwg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jUwHdipnEeugiqEj5PDgwg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_jUwHdypnEeugiqEj5PDgwg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHeCpnEeugiqEj5PDgwg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jUwHeSpnEeugiqEj5PDgwg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHeipnEeugiqEj5PDgwg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_jUwHeypnEeugiqEj5PDgwg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jUwHfCpnEeugiqEj5PDgwg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHfSpnEeugiqEj5PDgwg" x="77" y="191" width="95" height="53"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHfipnEeugiqEj5PDgwg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHfypnEeugiqEj5PDgwg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHgCpnEeugiqEj5PDgwg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHgSpnEeugiqEj5PDgwg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jUwHgipnEeugiqEj5PDgwg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jUwHgypnEeugiqEj5PDgwg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHhCpnEeugiqEj5PDgwg" x="285" y="92" width="649" height="384"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_jUwHkypnEeugiqEj5PDgwg" type="Synchronization" element="_jU2NEypnEeugiqEj5PDgwg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHlCpnEeugiqEj5PDgwg" x="489" y="566" width="211" height="8"/>
        </children>
        <children xmi:id="_1jE4ACpnEeugiqEj5PDgwg" type="Entry" element="_1jBNoCpnEeugiqEj5PDgwg">
          <children xmi:id="_1jGGICpnEeugiqEj5PDgwg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_1jGtMCpnEeugiqEj5PDgwg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1jGtMSpnEeugiqEj5PDgwg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_1jGtMipnEeugiqEj5PDgwg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1jGGISpnEeugiqEj5PDgwg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1jGGIipnEeugiqEj5PDgwg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1jE4ASpnEeugiqEj5PDgwg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_1jE4AipnEeugiqEj5PDgwg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1jE4AypnEeugiqEj5PDgwg" x="537" y="1" width="15" height="15"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_LhJ44CpoEeugiqEj5PDgwg" type="FinalState" element="_LhIqwCpoEeugiqEj5PDgwg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LhJ44SpoEeugiqEj5PDgwg" x="587" y="836" width="15" height="15"/>
        </children>
        <children xmi:id="_Ndo5UCxNEeuWt819MOcpkA" type="State" element="_NdoSQCxNEeuWt819MOcpkA">
          <children xsi:type="notation:DecorationNode" xmi:id="_NdpgYCxNEeuWt819MOcpkA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NdpgYSxNEeuWt819MOcpkA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NdpgYixNEeuWt819MOcpkA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NdpgYyxNEeuWt819MOcpkA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NdpgZCxNEeuWt819MOcpkA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NdpgZSxNEeuWt819MOcpkA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NdpgZixNEeuWt819MOcpkA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ndo5USxNEeuWt819MOcpkA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ndo5UixNEeuWt819MOcpkA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NdpgZyxNEeuWt819MOcpkA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ndo5UyxNEeuWt819MOcpkA" x="674" y="656" width="156" height="53"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_O8hSICxNEeuWt819MOcpkA" type="Choice" element="_O8grECxNEeuWt819MOcpkA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_O8hSISxNEeuWt819MOcpkA" x="573" y="608" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHoSpnEeugiqEj5PDgwg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_jUwHoipnEeugiqEj5PDgwg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jUwHoypnEeugiqEj5PDgwg" x="653" y="1068" width="1088" height="925"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_c39CESpnEeugiqEj5PDgwg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_c39CEipnEeugiqEj5PDgwg"/>
    <edges xmi:id="_jU5QYCpnEeugiqEj5PDgwg" type="Transition" element="_jU1mGypnEeugiqEj5PDgwg" source="_jUwHaCpnEeugiqEj5PDgwg" target="_jUwHXCpnEeugiqEj5PDgwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jU5QYSpnEeugiqEj5PDgwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jU5QYipnEeugiqEj5PDgwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jU5QYypnEeugiqEj5PDgwg" x="-6" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jU5QZCpnEeugiqEj5PDgwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jU5QZSpnEeugiqEj5PDgwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jU5QZipnEeugiqEj5PDgwg" points="[5, 4, 7, -63]$[5, 38, 7, -29]"/>
    </edges>
    <edges xmi:id="_jU5QbipnEeugiqEj5PDgwg" type="Transition" element="_jU1mFipnEeugiqEj5PDgwg" source="_jUwHXCpnEeugiqEj5PDgwg" target="_jUwHcipnEeugiqEj5PDgwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jU5QbypnEeugiqEj5PDgwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jU5QcCpnEeugiqEj5PDgwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jU5QcSpnEeugiqEj5PDgwg" x="-6" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jU5QcipnEeugiqEj5PDgwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jU5QcypnEeugiqEj5PDgwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jU5QdCpnEeugiqEj5PDgwg" points="[22, 30, 49, -115]$[22, 112, 49, -33]$[-3, 112, 24, -33]$[-3, 119, 24, -26]"/>
    </edges>
    <edges xmi:id="_jU5QdSpnEeugiqEj5PDgwg" type="Transition" element="_jU1mAipnEeugiqEj5PDgwg" source="_Z7zC9SwoEeuWt819MOcpkA" target="_Z7zDCywoEeuWt819MOcpkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_jU5QdipnEeugiqEj5PDgwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jU5QdypnEeugiqEj5PDgwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jU5QeCpnEeugiqEj5PDgwg" x="-18" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jU5QeSpnEeugiqEj5PDgwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jU5QeipnEeugiqEj5PDgwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jU5QeypnEeugiqEj5PDgwg" points="[61, 14, -101, -101]$[61, 109, -101, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jU5QfCpnEeugiqEj5PDgwg" id="(0.23170731707317074,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jU5QfSpnEeugiqEj5PDgwg" id="(0.6571428571428571,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_jU53iCpnEeugiqEj5PDgwg" type="Transition" element="_jU1mCipnEeugiqEj5PDgwg" source="_Z7zDCywoEeuWt819MOcpkA" target="_jUwHkypnEeugiqEj5PDgwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jU53iSpnEeugiqEj5PDgwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jU53iipnEeugiqEj5PDgwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jU53iypnEeugiqEj5PDgwg" x="13" y="-43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jU53jCpnEeugiqEj5PDgwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jU53jSpnEeugiqEj5PDgwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jU53jipnEeugiqEj5PDgwg" points="[4, 12, -68, -116]$[4, 70, -68, -58]$[70, 70, -2, -58]$[70, 127, -2, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jU53jypnEeugiqEj5PDgwg" id="(0.5612244897959183,0.8490566037735849)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_85JtsCpnEeugiqEj5PDgwg" id="(0.24170616113744076,0.125)"/>
    </edges>
    <edges xmi:id="_jU6ecCpnEeugiqEj5PDgwg" type="Transition" element="_jU1mHipnEeugiqEj5PDgwg" source="_jUwHcipnEeugiqEj5PDgwg" target="_jUwHkypnEeugiqEj5PDgwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jU6ecSpnEeugiqEj5PDgwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jU6ecipnEeugiqEj5PDgwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jU6ecypnEeugiqEj5PDgwg" x="29" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jU6edCpnEeugiqEj5PDgwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jU6edSpnEeugiqEj5PDgwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jU6edipnEeugiqEj5PDgwg" points="[-1, 12, 15, -168]$[-1, 173, 15, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jU6edypnEeugiqEj5PDgwg" id="(0.031578947368421054,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jU6eeCpnEeugiqEj5PDgwg" id="(0.8009478672985783,0.875)"/>
    </edges>
    <edges xmi:id="_U01UoCpxEeugiqEj5PDgwg" type="Transition" element="_U00GgCpxEeugiqEj5PDgwg" source="_1jE4ACpnEeugiqEj5PDgwg" target="_jUwHJSpnEeugiqEj5PDgwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_U01UpCpxEeugiqEj5PDgwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_U01UpSpxEeugiqEj5PDgwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_U01UpipxEeugiqEj5PDgwg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_U01UoSpxEeugiqEj5PDgwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_U01UoypxEeugiqEj5PDgwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_U01UoipxEeugiqEj5PDgwg" points="[-5, 1, -28, -99]$[-5, 79, -28, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_U03w4CpxEeugiqEj5PDgwg" id="(1.0,0.8)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_U04X8CpxEeugiqEj5PDgwg" id="(0.447098976109215,0.057065217391304345)"/>
    </edges>
    <edges xmi:id="_D0KdcSwoEeuWt819MOcpkA" type="Transition" element="_D0KdcCwoEeuWt819MOcpkA" source="_Z7zDASwoEeuWt819MOcpkA" target="_Z7zDFywoEeuWt819MOcpkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_D0KddSwoEeuWt819MOcpkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_D0KddiwoEeuWt819MOcpkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_D0KddywoEeuWt819MOcpkA" x="-2" y="1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_D0KdciwoEeuWt819MOcpkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_D0KddCwoEeuWt819MOcpkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_D0KdcywoEeuWt819MOcpkA" points="[-5, 9, 2, -12]$[-5, 23, 2, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_D0KdeCwoEeuWt819MOcpkA" id="(1.0,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_D0KdeSwoEeuWt819MOcpkA" id="(0.5333333333333333,0.0)"/>
    </edges>
    <edges xmi:id="_HuHKgSwoEeuWt819MOcpkA" type="Transition" element="_HuHKgCwoEeuWt819MOcpkA" source="_Z7zDFywoEeuWt819MOcpkA" target="_Z7zC9SwoEeuWt819MOcpkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_HuHKhSwoEeuWt819MOcpkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HuHKhiwoEeuWt819MOcpkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HuHKhywoEeuWt819MOcpkA" x="-26" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HuHKgiwoEeuWt819MOcpkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HuHKhCwoEeuWt819MOcpkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HuHKgywoEeuWt819MOcpkA" points="[1, -6, 81, -32]$[-69, -6, 11, -32]$[-69, 23, 11, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HuHKiCwoEeuWt819MOcpkA" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HuHKiSwoEeuWt819MOcpkA" id="(0.47560975609756095,0.04918032786885246)"/>
    </edges>
    <edges xmi:id="_I17uMSwoEeuWt819MOcpkA" type="Transition" element="_I17uMCwoEeuWt819MOcpkA" source="_Z7zDFywoEeuWt819MOcpkA" target="_Z7zDGSwoEeuWt819MOcpkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_I2B00SwoEeuWt819MOcpkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_I2B00iwoEeuWt819MOcpkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_I2B00ywoEeuWt819MOcpkA" x="-3" y="18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_I2BNwCwoEeuWt819MOcpkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_I2B00CwoEeuWt819MOcpkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_I2BNwSwoEeuWt819MOcpkA" points="[-3, -6, -30, -40]$[89, -6, 62, -40]$[89, 28, 62, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_I2B01CwoEeuWt819MOcpkA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_I2B01SwoEeuWt819MOcpkA" id="(0.05714285714285714,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_avABgCwoEeuWt819MOcpkA" type="Transition" element="_au6h8CwoEeuWt819MOcpkA" source="_Z7zDGSwoEeuWt819MOcpkA" target="_Z7zDCywoEeuWt819MOcpkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_avABhCwoEeuWt819MOcpkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_avABhSwoEeuWt819MOcpkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_avABhiwoEeuWt819MOcpkA" y="-37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_avABgSwoEeuWt819MOcpkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_avABgywoEeuWt819MOcpkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_avABgiwoEeuWt819MOcpkA" points="[9, 14, 6, -95]$[9, 108, 6, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_avABhywoEeuWt819MOcpkA" id="(0.0,0.7547169811320755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_avABiCwoEeuWt819MOcpkA" id="(0.4805194805194805,0.0136986301369863)"/>
    </edges>
    <edges xmi:id="_SyIRwCxNEeuWt819MOcpkA" type="Transition" element="_SyHDoCxNEeuWt819MOcpkA" source="_jUwHkypnEeugiqEj5PDgwg" target="_O8hSICxNEeuWt819MOcpkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SyIRxCxNEeuWt819MOcpkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SyIRxSxNEeuWt819MOcpkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SyIRxixNEeuWt819MOcpkA" x="-1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SyIRwSxNEeuWt819MOcpkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SyIRwyxNEeuWt819MOcpkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SyIRwixNEeuWt819MOcpkA" points="[-15, 0, 2, -34]$[-15, 35, 2, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SyI40CxNEeuWt819MOcpkA" id="(0.5118483412322274,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SyJf4CxNEeuWt819MOcpkA" id="(0.4666666666666667,0.0)"/>
    </edges>
    <edges xmi:id="_TxD_MCxNEeuWt819MOcpkA" type="Transition" element="_TxCxECxNEeuWt819MOcpkA" source="_O8hSICxNEeuWt819MOcpkA" target="_Ndo5UCxNEeuWt819MOcpkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_TxD_NCxNEeuWt819MOcpkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TxD_NSxNEeuWt819MOcpkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TxD_NixNEeuWt819MOcpkA" x="-17" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TxD_MSxNEeuWt819MOcpkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TxD_MyxNEeuWt819MOcpkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TxD_MixNEeuWt819MOcpkA" points="[-7, -2, -166, -39]$[159, -2, 0, -39]$[159, 33, 0, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TxEmQCxNEeuWt819MOcpkA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TxEmQSxNEeuWt819MOcpkA" id="(0.4714285714285714,0.07547169811320754)"/>
    </edges>
    <edges xmi:id="_Uc9b4CxNEeuWt819MOcpkA" type="Transition" element="_Uc800CxNEeuWt819MOcpkA" source="_O8hSICxNEeuWt819MOcpkA" target="_LhJ44CpoEeugiqEj5PDgwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Uc9b5CxNEeuWt819MOcpkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Uc9b5SxNEeuWt819MOcpkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Uc9b5ixNEeuWt819MOcpkA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Uc9b4SxNEeuWt819MOcpkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Uc9b4yxNEeuWt819MOcpkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Uc9b4ixNEeuWt819MOcpkA" points="[-10, -2, -10, -220]$[-100, -2, -100, -220]$[-100, 220, -100, 2]$[-1, 220, -1, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Uc_4ICxNEeuWt819MOcpkA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Uc_4ISxNEeuWt819MOcpkA" id="(0.06666666666666667,0.3333333333333333)"/>
    </edges>
    <edges xmi:id="_WtJ84CxNEeuWt819MOcpkA" type="Transition" element="_WtJV0CxNEeuWt819MOcpkA" source="_Ndo5UCxNEeuWt819MOcpkA" target="_LhJ44CpoEeugiqEj5PDgwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_WtKj8CxNEeuWt819MOcpkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WtKj8SxNEeuWt819MOcpkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WtKj8ixNEeuWt819MOcpkA" x="24" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WtJ84SxNEeuWt819MOcpkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WtJ84yxNEeuWt819MOcpkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WtJ84ixNEeuWt819MOcpkA" points="[13, 0, 157, -134]$[13, 131, 157, -3]$[-138, 131, 6, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WtMZICxNEeuWt819MOcpkA" id="(0.4142857142857143,1.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
